﻿@{
    ViewBag.Title = "Index";
}

<div class="wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2><i class="fa fa-bank"></i>Empresas</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index","Home")"><i class="fa fa-home"></i> Inicio</a>
            </li>
            <li class="active">
                <strong>Empresas</strong>
            </li>
            <li class="pull-right">
                <strong></strong>
            </li>
        </ol>
    </div>

</div>



<div class="Caja">

    <div class="box-body">

        <div class="row">

            <div class="ibox float-e-margins">

                <div class="ibox-title">
                    <strong>Empresas</strong>

                </div>

                <div class="ibox-content" style="overflow-x:auto;">
                    @*<div class="pull-left">
                            <input type="button" class="btn btn-success" value="Buscar" id="BuscarNombre">
                            <input id="NombreBuscar" type="text">
                            <input type="button" class="btn btn-success" value="Limpiar" id="Limpiar">
                        </div>*@
                    <div class="pull-right">

                        <button id="btnNuevo" type="button" class="btn btn-success">+</button>

                    </div>

                    <table id="Empresas" class="table table-bordered table-striped" width="100%">
                        <thead>


                            <tr>
                                <th>Nombre</th>
                                <th>Correo</th>
                                <th>Documento</th>
                                <th>web</th>
                                <th>Telefono</th>
                                <th>Editar</th>
                                <th>Eliminar</th>

                            </tr>
                        </thead>


                        <tbody></tbody>

                        <tfoot>

                        </tfoot>

                    </table>



                </div>

            </div>
        </div>
    </div>

</div>

<div id="ModalEmpresas" class="modal" role="dialog">
    <form id="frmPrincipal" class="form-horizontal" action="javascript:InsEmpresas()">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Ingresar Empresas</h4>
                </div>
                <div class="modal-body">
                    <div class="box-body">
                        <div class="form-group">

                            <label class="col-sm-3 control-label prueba">Nombre</label>
                            <div class="col-sm-6">
                                <input class="form-control" id="IdNombre" name="IdNombre" type="text" value="" required />
                            </div>

                        </div>
                        <div class="form-group">

                            <label class="col-sm-3 control-label prueba">Documento</label>
                            <div class="col-sm-6">
                                <input class="form-control" id="IdDocumento" name="IdDocumento" type="text" value="" required />
                            </div>

                        </div>
                        <div class="form-group">

                            <label class="col-sm-3 control-label prueba">Correo</label>
                            <div class="col-sm-6">
                                <input class="form-control" id="IdCorreo" name="IdCorreo" type="text" value="" required />
                            </div>

                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">web</label>
                            <div class="col-sm-6">
                                <input class="form-control" id="Idweb" name="Idweb" type="text" value="" required />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Direccion</label>
                            <div class="col-md-6">

                                <input class="form-control" id="IdDireccion" name="IdDireccion" type="text" value="" required />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Teléfono</label>
                            <div class="col-md-6">

                                <input class="form-control" id="IdTelefono" name="IdTelefono" type="text" value="" required />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Logo Empresa</label>
                            <div class="col-md-6">
                                
                                <input class="" id="Logo" name="IdLogo" type="file" value="" onchange="javascript:UploadFile()" required />

                             
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="addPersonE" type="submit" name="addPersonE" class="btn btn-success">Guardar</button>
                    <button type="button" class="btn btn-default" onclick="clearEmpresas()"  data-dismiss="modal" >Cerrar</button>
                </div>
            </div>

        </div>
    </form>
</div>



<div id="EditEmpresas" class="modal" role="dialog">
    <form id="frmPrincipal2" class="form-horizontal" action="javascript:ModificarEmpresas()">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Editar Empresa</h4>
                </div>
                <div class="modal-body">
                    <div class="box-body">
                        <div class="form-group">

                            <label class="col-sm-3 control-label prueba">Nombre</label>
                            <div class="col-sm-6">
                                <input class="form-control" id="IdNombreE" name="IdNombreE" type="text" value="" required />
                            </div>

                        </div>
                        <div class="form-group">

                            <label class="col-sm-3 control-label prueba">Documento</label>
                            <div class="col-sm-6">
                                <input class="form-control" id="IdDocumentoE" name="IdDocumentoE" type="text" value="" required />
                            </div>

                        </div>
                        <div class="form-group">

                            <label class="col-sm-3 control-label prueba">Correo</label>
                            <div class="col-sm-6">
                                <input class="form-control" id="IdCorreoE" name="IdCorreoE" type="text" value="" required />
                            </div>

                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">web</label>
                            <div class="col-sm-6">
                                <input class="form-control" id="IdwebE" name="IdwebE" type="text" value="" required />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Direccion</label>
                            <div class="col-md-6">

                                <input class="form-control" id="IdDireccionE" name="IdDireccionE" type="text" value="" required />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Teléfono</label>
                            <div class="col-md-6">

                                <input class="form-control" id="IdTelefonoE" name="IdTelefonoE" type="text" value="" required />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Logo Empresa</label>
                            <div class="col-md-6">

                                <input class="" id="LogoE" name="IdLogoE" type="file" value="" onchange="javascript:UploadFile()" />


                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="addPerson" type="submit" name="addPerson" class="btn btn-success">Guardar</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>

        </div>
    </form>
</div>
<div class="modal" id="confirmModal" style="display: none; z-index: 1050;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body" id="confirmMessage">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="confirmOk">Si</button>
                <button type="button" class="btn btn-default" id="confirmCancel">No</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="windowModal" style="display: none; z-index: 1050;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body" id="windowMessage">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="windowOk">Aceptar</button>
            </div>
        </div>
    </div>
</div>


<form id="form" method="post">
    <input type="hidden" id="IdEmpresa" value="" />
    <input type="hidden" id="TelefonoID" value="" />
</form>


@section Styles {
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
}
@section Scripts {
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-
datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-
datepicker/1.4.1/css/bootstrap-datepicker3.css" />
    <link href="~/Content/plugins/toastr/toastr.min.css" rel="stylesheet" />
    <link href="~/Content/plugins/datapicker/datepicker3.css" rel="stylesheet" />
    <script src="~/Scripts/plugins/toastr/toastr.min.js"></script>
    @Scripts.Render("~/plugins/dataTables")
<script type="text/javascript">
        var activo = true;

            function TableEmpresas() {
                var table;
                var nombre = $("#NombreBuscar").val();

                table = $("#Empresas").DataTable();
            table.destroy();

                table = $("#Empresas").DataTable({
                language: {
                    processing: "Procesando..",
                    search: "Buscar:",
                    lengthMenu: "Mostrando _MENU_ registros por página",
                    //info: "Mostrando pàgina _PAGE_ de _PAGES_",
                    infoEmpty: "",
                    //infoFiltered: "(Filtrado de un total de _MAX_ registros)",
                    loadingRecords: "Cargando registros..",
                    zeroRecords: "No existen registros",
                    emptyTable: "No existen registros disponibles",
                    paginate: {
                        first: "Primero",
                        previous: "Anterior",
                        next: "Siguiente",
                        last: "Último"
                    },
                    aria: {
                        sortAscending: ": Ordenar ascendentemente",
                        sortDescending: ": Ordenar descendentemente"
                    }
                    },
                    paging: true,
                    info: false,
                    searching: true,
                ordering: false,
                ajax: {
                     url: "@Url.Action("Get", "Empresas")",
                    type: "GET",
                    data: { nombre: nombre },
                    dataSrc: 'data'
                },
                columns: [

                    {
                        data: 'Nombre',
                          width: "10"
                    },
                    {
                        data: 'Correo',
                         width: "10"
                    },
                    {
                        data: 'NumeroDocumento',
                        width: "10"
                    },
                    {
                        data: 'Web',
                        width: "10"
                    },
                    {
                        data: 'Telefono',
                        width: "10"
                    },

                    {

                        data: 'IdEmpresa',
                        width:"10",
                        searchable: false,
                        orderable: false,
                        render: function (data, type, row, meta) {
                            return '<center><a class="fa fa-fw fa-edit" href="javascript:editEmpresas(' + data + ');"> </a></center>'
                        }
                    },



                    {

                        data: 'IdEmpresa',
                        width: "10",
                        searchable: false,
                        orderable: false,
                        render: function (data, type, row, meta) {
                            return '<center><a class="fa fa-fw fa-remove" href="javascript:deleteEmpresas(' + data + ');"> </a></center>'
                        }
                    }



                ]
            });
    }
    function InsertarEmpresas () {

        var dataObject = JSON.stringify(
            {
                'Nombre': $("#IdNombre").val(),
                'Correo': $("#IdCorreo").val(),
                'Web': $("#Idweb").val(),
                'NumeroDocumento': $("#IdDocumento").val(),
                'Direccion': $("#IdDireccion").val(),
                'Telefono': $("#IdTelefono").val(),
                'Logo': $("#Logo").val()



            });
        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            url: "@Url.Action("Insert", "Empresas")",
            data: dataObject,
            dataType: "json",
            success: function (data) {
                if (data == "OK") {
                    toastr.success("Registro Incluido exitosamente");

                } else {
                    windowDialog("ATENCION: La Epresa ya existe!!");
                }
                clearEmpresas();
                $("#ModalEmpresas").modal("hide");
                TableEmpresas();

            },
            error: function (response) {
                alert("Error Agregar Empresas:" + response.responseText);
            }

        });

    }
        function editEmpresas(id) {
        $.ajax({
            type: "GET",
            contentType: "application/json; charset=utf-8",
            url: "@Url.Action("GetById", "Empresas")",
            data: { id: id },
            dataType: "json",
            success: function (data) {

                $("#IdNombreE").val(data.Nombre);
                $("#IdCorreoE").val(data.Correo);
                $("#IdwebE").val(data.Web);
                $("#IdDocumentoE").val(data.NumeroDocumento);
                $("#IdDireccionE").val(data.Direccion);
                $("#IdTelefonoE").val(data.Telefono);
                $("#IdEmpresa").val(id);




                $("#EditEmpresas").modal("show");
            },
            error: function (response) {
                alert("Error en carga Empresas" + response.responseText);
            }
        });
    }

      function ModificarEmpresas () {

        var dataObject = JSON.stringify(
            {
                'Nombre': $("#IdNombreE").val(),
                'Correo': $("#IdCorreoE").val(),
                'Web': $("#IdwebE").val(),
                'NumeroDocumento': $("#IdDocumentoE").val(),
                'Direccion': $("#IdDireccionE").val(),
                'Telefono': $("#IdTelefonoE").val(),
                'IdEmpresa': $("#IdEmpresa").val(),
                'Logo': $("#LogoE").val()

            });
        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            url: "@Url.Action("Edit", "Empresas")",
            data: dataObject,
            dataType: "json",
            success: function (data) {
                if (data == "OK") {
                    toastr.success("Registro Modificado exitosamente");
                } else {
                    windowDialog("Ha ocurrido un error al  ingresar la información. Por favor verifique si la misma se actualizo correctamente");
                }

                $("#EditEmpresas").modal("hide");
                TableEmpresas();

            },
            error: function (response) {
                alert("Error Agregar Empresas:" + response.responseText);
            }

        });

    }

     function deleteEmpresas(id) {
        confirmDialog("¿Esta seguro de eliminar el registro seleccionado ?", function () {
            $.ajax({
                type: "GET",
                contentType: "application/json; charset=utf-8",
                url: "@Url.Action("delete", "Empresas")",
                data: { id: id },
                dataType: "json",
                success: function (data) {
                    if (data) {
                        windowDialog("Registro eliminado exitosamente");
                    }else{
                        windowDialog("Ha ocurrido un error al eliminar la información. Por favor verifique e intente nuevamente");
                    }
                    TableEmpresas();

                },
                error: function (response) {
                    alert("Error borrar alerta: " + response.responseText);
                }
            });
        });
            }

            $("#btnNuevo").click(function () {
                clearEmpresas()
                $("#ModalEmpresas").modal("show");
            });

            $("#Limpiar").click(function () {

                $("#NombreBuscar").val("");
                TablePersonas();

            });
            $("#BuscarNombre").click(function () {
                TablePersonas();
            });


            function clearEmpresas() {
                $("#IdDocumento").val("");
                $("#IdNombre").val("");
                $("#IdCorreo").val("");
                $("#Idweb").val("");
                $("#IdDireccion").val("");
                $("#IdTelefono").val("");
                $("#Logo").val("");

            }

            function InsEmpresas() {
                InsertarEmpresas();
            }
            function UpdaPersonas() {
                ModificarPersonas();
            }

        function Prueba() {
            UploadFile();
        }


         function UploadFile () {


             var file = $("#Logo").get(0).files;
             var data = new FormData();
             data.append("ImageFile", file[0]);


        
        $.ajax({
            type: "POST",
            //contentType: "application/json; charset=utf-8",
            url: "/Empresas/Upload",
            data: data,
            //dataType: "json",
            enctype: "multipart/form-data",
            contentType: false,
            processData: false,
            
            success: function (data) {
                if (data == "OK") {
                    toastr.success("Archivo Cargado");
                } else {
                    toastr.error("El Formato de imagen no esta permitido");
                }

              

            }
            

        })

    }
    function confirmDialog(message, onConfirm) {
        var fClose = function () {
            modal.modal("hide");
        };
        var modal = $("#confirmModal");
        modal.modal("show");
        $("#confirmMessage").empty().append(message);
        $("#confirmOk").one('click', onConfirm);
        $("#confirmOk").one('click', fClose);
        $("#confirmCancel").one("click", fClose);
    }


        function windowDialog(message, onConfirm) {
            var fClose = function () {
                modal.modal("hide");
            };
            var modal = $("#windowModal");
            modal.modal("show");
            $("#windowMessage").empty().append(message);
            $("#windowOk").one('click', onConfirm);
            $("#windowOk").one('click', fClose);
        }


        $(document).ready(function () {
            TableEmpresas();


        });


        $('.datepicker').datepicker({
            format: 'dd/mm/yyyy'

        });
</script>
}
