﻿@model Models.Empresa

@{
    ViewBag.Title = "Inicio";
}




    <div class="box-body">

        <div class="row">

            <div class="ibox float-e-margins">

                <div class="ibox-title">
                    <strong>Seleccione Empresa</strong>

                </div>
                <div class="ibox-content" style="overflow-x:auto;">
                    <div class="pull-right">

                        <button id="btnEditar" type="button" class="btn btn-success">Editar</button>

                    </div>

                    <h4>Nombre:@Model.Nombre   </h4>
                    <h4>Documento:</h4>


                </div>

            </div>
        </div>
    </div>



