﻿@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";

}




<div class="wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2><i class="fa fa-users"></i>Personas</h2>
        <ol class="breadcrumb">
            <li>
                <a href=""><i class="fa fa-home"></i> Inicio</a>
            </li>
            <li class="active">
                <strong>Personas</strong>
            </li>
            <li class="pull-right">
                <strong></strong>
            </li>
        </ol>
    </div>

</div>



<div class="Caja">

    <div class="box-body">

        <div class="row">

            <div class="ibox float-e-margins">

                <div class="ibox-title">
                    <strong>Personas</strong>

                </div>

                <div class="ibox-content" style="overflow-x:auto;">
                    @*<div class="pull-left">
                        <input type="button" class="btn btn-success" value="Buscar" id="BuscarNombre">
                        <input id="NombreBuscar" type="text">
                        <input type="button" class="btn btn-success" value="Limpiar" id="Limpiar">
                    </div>*@
                    <div class="pull-right">

                        <button id="btnNuevo" type="button" class="btn btn-success">+</button>

                    </div>

                    <table id="Personas" class="table table-bordered table-striped" width="100%">
                        <thead>


                            <tr>
                                <th>Nombre</th>
                                <th>Credito máximo</th>
                                <th>Fecha de nacimiento</th>
                                <th>Editar</th>
                                <th>Ver Telefonos</th>
                                <th>Eliminar</th>

                            </tr>
                        </thead>


                        <tbody></tbody>

                        <tfoot>

                        </tfoot>

                    </table>



                </div>

            </div>
        </div>
    </div>


    <div class="box-body" id="Telefonostabla" hidden>

        <div class="row">

            <div class="ibox float-e-margins">

                <div class="ibox-title">
                    <strong>Telefonos</strong>
                </div>

                <div class="ibox-content">

                    <div class="pull-right">

                        <button id="btnNuevoTelefono" type="button" class="btn btn-success">+</button>

                    </div>
                    <div class="pull-left">
                        
                        <input type="button" class="btn btn-success" value="TelefonoNombre" id="TelefonoNombre">
                    </div>

                    <table id="Telefonos" class="table table-bordered table-striped">
                        <thead>


                            <tr>
                                <th>Telefóno</th>

                                <th>Editar</th>
                                <th>Eliminar</th>

                            </tr>
                        </thead>


                        <tbody></tbody>

                        <tfoot>

                        </tfoot>

                    </table>

                </div>

            </div>
        </div>
    </div>
</div>








<div id="ModalPersona" class="modal" role="dialog">
    <form id="frmPrincipal" class="form-horizontal" action="javascript:InsPersonas()">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Personas</h4>
                </div>
                <div class="modal-body">
                    <div class="box-body">
                        <div class="form-group">

                            <label class="col-sm-3 control-label prueba">Nombre</label>
                            <div class="col-sm-6">
                                <input class="form-control" id="IdNombre" name="IdNombre" type="text" value="" required />
                            </div>

                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Credito Maximo</label>
                            <div class="col-sm-6">
                                <input class="form-control" id="IdCredito" name="IdCredito"  type="number" value="" required />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 ">Fecha Nacimiento</label>
                            <div class="col-md-6">

                                <input class="datepicker" id="IdFecha"  name="IdFecha"type="datetime" value="" style="width : 250px;heigth : 50px" required />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="addPerson" type="submit" name="addPerson" class="btn btn-success">Guardar</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>

        </div>
    </form>
</div>



<div id="EditarPersonas" class="modal fade" role="dialog">
    <form id="frmPrincipal2" class="form-horizontal" action="javascript:UpdaPersonas()">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Clientes</h4>
                </div>

                <div class="modal-body">
                    <div class="box-body">
                        <div class="form-group">

                            <label class="col-sm-3 control-label prueba">Nombre</label>
                            <div class="col-sm-6">
                                <input class="form-control" id="Nombre" name="nombre"  type="text" value="" required />
                            </div>

                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Credito Maximo</label>
                            <div class="col-sm-6">
                                <input class="form-control" id="Credito" name="credito" type="number" value="" required />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 " for="customer_ruc">Fecha Nacimiento</label>
                            <div class="col-md-6">

                                <input class="datepicker" id="Fecha" name="Fecha" type="text" value="" style="width : 250px;heigth : 50px" required />

                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="EditPerson" type="submit" class="btn btn-success">Guardar</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </form>
</div>

<div id="AgregarTelefonos" class="modal fade" role="dialog">
    <form id="frmPrincipal3" class="form-horizontal" action="javascript:Telefono()">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Agregar Telefonos</h4>
                </div>

                <div class="modal-body">
                    <div class="box-body">
                        <div class="form-group">

                            <label class="col-sm-3 control-label prueba">Telefono</label>
                            <div class="col-sm-6">
                                <input class="form-control" id="Telefono" type="number"  value=""  required />
                            </div>

                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button id="AddTel" type="submit" class="btn btn-success">Guardar</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>

        </div>

    </form>
</div>
<div id="EditarTelefono" class="modal fade" role="dialog">
    <form id="frmPrincipal4" class="form-horizontal" action="javascript:ModificarTelefeno()">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Editar Telefono</h4>
                </div>

                <div class="modal-body">
                    <div class="box-body">
                        <div class="form-group">

                            <label class="col-sm-3 control-label prueba">Nombre</label>
                            <div class="col-sm-6">
                                <input class="form-control" id="NombreTel" type="text" value="" readonly />
                            </div>

                        </div>
                        <div class="form-group">

                            <label class="col-sm-3 control-label prueba">Telefono</label>
                            <div class="col-sm-6">
                                <input class="form-control" id="IdTelefono" type="number"  value="" required />
                            </div>

                        </div>


                    </div>
                </div>
                <div class="modal-footer">
                    <button id="EditTel" type="submit" class="btn btn-success">Guardar</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>

        </div>

    </form>
</div>

<div class="modal" id="confirmModal" style="display: none; z-index: 1050;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body" id="confirmMessage">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="confirmOk">Si</button>
                <button type="button" class="btn btn-default" id="confirmCancel">No</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="windowModal" style="display: none; z-index: 1050;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body" id="windowMessage">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="windowOk">Aceptar</button>
            </div>
        </div>
    </div>
</div>


<form id="form" method="post">
    <input type="hidden" id="PersonaID"  value="" />
    <input type="hidden" id="TelefonoID"  value="" />
</form>

@section Styles {
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
}
@section Scripts {
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-
datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-
datepicker/1.4.1/css/bootstrap-datepicker3.css" />

    <link href="~/Content/plugins/datapicker/datepicker3.css" rel="stylesheet" />

    @Scripts.Render("~/plugins/dataTables")
<script type="text/javascript">


            function TablePersonas() {
                var table;
                var nombre = $("#NombreBuscar").val();

            table = $("#Personas").DataTable();
            table.destroy();

            table = $("#Personas").DataTable({
                language: {
                    processing: "Procesando..",
                    search: "Buscar:",
                    lengthMenu: "Mostrando _MENU_ registros por página",
                    //info: "Mostrando pàgina _PAGE_ de _PAGES_",
                    infoEmpty: "",
                    //infoFiltered: "(Filtrado de un total de _MAX_ registros)",
                    loadingRecords: "Cargando registros..",
                    zeroRecords: "No existen registros",
                    emptyTable: "No existen registros disponibles",
                    paginate: {
                        first: "Primero",
                        previous: "Anterior",
                        next: "Siguiente",
                        last: "Último"
                    },
                    aria: {
                        sortAscending: ": Ordenar ascendentemente",
                        sortDescending: ": Ordenar descendentemente"
                    }
                },
                paging: true,
                info: false,
                searching: true,
                ordering: false,
                ajax: {
                     url: "@Url.Action("GetPersonas", "Personas")",
                    type: "GET",
                    data: { nombre: nombre },
                    dataSrc: 'data'
                },
                columns: [

                    {
                        data: 'Nombre',
                          width: "10"
                    },
                    {
                        data: 'CreditoMaximo',
                         width: "10"
                    },
                    {
                        data: 'FechaNacimiento',


                        class: 'text-center', width: '30%', mRender: function (data, type, row) {
                            var date = new Date(parseInt(data.substr(6)));
                            return date.toLocaleDateString("es-PE");

                        }
                    },
                    {

                        data: 'PersonaID',
                        width:"10",
                        searchable: false,
                        orderable: false,
                        render: function (data, type, row, meta) {
                            return '<center><a class="fa fa-fw fa-edit" href="javascript:editPersona(' + data + ');"> </a></center>'
                        }
                    },

                     {

                         data: 'PersonaID',
                         width: "10",
                        searchable: false,
                        orderable: false,
                        render: function (data, type, row, meta) {
                            return '<center><a class="fa fa-fw fa-search" href="javascript:VerTelefonos(' + data + ');"> </a></center>'
                        }
                    },

                    {

                        data: 'PersonaID',
                        width: "10",
                        searchable: false,
                        orderable: false,
                        render: function (data, type, row, meta) {
                            return '<center><a class="fa fa-fw fa-remove" href="javascript:deletePersona(' + data + ');"> </a></center>'
                        }
                    },



                ]
            });
    }
    function InsertarPersonas () {

        var dataObject = JSON.stringify(
            {
                'Nombre': $("#IdNombre").val(),
                'CreditoMaximo': $("#IdCredito").val(),
                'FechaNacimiento': $("#IdFecha").val()
            });
        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            url: "@Url.Action("Insertar", "Personas")",
            data: dataObject,
            dataType: "json",
            success: function (data) {
                if (data == "OK") {
                    windowDialog("Registro Incluido exitosamente");
                } else {
                    windowDialog("ATENCION: LA PERSONA YA EXISTE!!");
                }
                clearPersonas();
                $("#ModalPersona").modal("hide");
                TablePersonas();

            },
            error: function (response) {
                alert("Error Agregar Personas:" + response.responseText);
            }

        });

    }

   

      function editPersona(id) {
        $.ajax({
            type: "GET",
            contentType: "application/json; charset=utf-8",
            url: "@Url.Action("GetPersonasByID", "Personas")",
            data: { id: id },
            dataType: "json",
            success: function (data) {
                var fecha = data.FechaNacimiento;
                var date = new Date(parseInt(fecha.substr(6)));
                $("#Fecha").val(date.toLocaleDateString("es-PE"));
                $("#Nombre").val(data.Nombre);
                $("#Credito").val(data.CreditoMaximo);
                $("#PersonaID").val(data.PersonaID);



                $("#EditarPersonas").modal("show");
            },
            error: function (response) {
                alert("Error en carga Clientes" + response.responseText);
            }
        });
    }

      function ModificarPersonas () {

        var dataObject = JSON.stringify(
            {
                'Nombre': $("#Nombre").val(),
                'CreditoMaximo': $("#Credito").val(),

                'FechaNacimiento': $("#Fecha").val(),
                 'PersonaID': $("#PersonaID").val()
            });
        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            url: "@Url.Action("Editar", "Personas")",
            data: dataObject,
            dataType: "json",
            success: function (data) {
                if (data == "OK") {
                    windowDialog("Registro Incluido exitosamente");
                } else {
                    windowDialog("Ha ocurrido un error al  ingresar la información. Por favor verifique si la misma se actualizo correctamente");
                }

                $("#EditarPersonas").modal("hide");
                TablePersonas();

            },
            error: function (response) {
                alert("Error Agregar Personas:" + response.responseText);
            }

        });

    }

     function deletePersona(id) {
        confirmDialog("¿Esta seguro de eliminar el registro seleccionado ?", function () {
            $.ajax({
                type: "GET",
                contentType: "application/json; charset=utf-8",
                url: "@Url.Action("Delete", "Personas")",
                data: { id: id },
                dataType: "json",
                success: function (data) {
                    if (data) {
                        windowDialog("Registro eliminado exitosamente");
                    }else{
                        windowDialog("Ha ocurrido un error al eliminar la información. Por favor verifique e intente nuevamente");
                    }
                    TablePersonas();
                    $("#Telefonostabla").hide();
                },
                error: function (response) {
                    alert("Error borrar alerta: " + response.responseText);
                }
            });
        });
    }



    function TableTelefonos() {
        var table;
        var PersonaID = $("#PersonaID").val();
        table = $("#Telefonos").DataTable();
        table.destroy();

        table = $("#Telefonos").DataTable({
            language: {
                processing: "Procesando..",
                search: "Buscar:",
                lengthMenu: "Mostrando _MENU_ registros por página",
                //info: "Mostrando pàgina _PAGE_ de _PAGES_",
                infoEmpty: "",
                //infoFiltered: "(Filtrado de un total de _MAX_ registros)",
                loadingRecords: "Cargando registros..",
                zeroRecords: "No existen registros",
                emptyTable: "No existen registros disponibles",
                paginate: {
                    first: "Primero",
                    previous: "Anterior",
                    next: "Siguiente",
                    last: "Último"
                },
                aria: {
                    sortAscending: ": Ordenar ascendentemente",
                    sortDescending: ": Ordenar descendentemente"
                }
            },
            paging: false,
            info: false,
            searching: false,
            ordering: false,
            ajax: {
                url: "@Url.Action("GetTelefonos", "Telefonos")",
                type: "GET",
                data: { PersonaID: PersonaID },
                dataSrc: 'data',

            },
                columns: [

                    {
                        data: 'Telefono',
                        width: "10"
                    },

                    {

                        data: 'TelefonoID',
                        width: "10",
                        searchable: false,
                        orderable: false,
                        render: function (data, type, row, meta) {
                            return '<center><a class="fa fa-fw fa-edit" href="javascript:EditTelefono(' + data + ');"> </a></center>'
                        }
                    },


                    {

                        data: 'TelefonoID',
                        width: "10",
                        searchable: false,
                        orderable: false,
                        render: function (data, type, row, meta) {
                            return '<center><a class="fa fa-fw fa-remove" href="javascript:deleteTelefono(' + data + ');"> </a></center>'
                        }
                    },



            ]


        });


    }



    function AregarTel(id) {
        $.ajax({
            type: "GET",
            contentType: "application/json; charset=utf-8",
            url: "@Url.Action("GetPersonasByID", "Personas")",
            data: { id: id },
            dataType: "json",
            success: function (data) {
                var fecha = data.FechaNacimiento;
                var date = new Date(parseInt(fecha.substr(6)));
                $("#IdFechatel").val(date.toLocaleDateString("es-PE"));
                $("#IdNombretel").val(data.Nombre);
                $("#IdCreditotel").val(data.CreditoMaximo);
                $("#PersonaID").val(data.PersonaID);



                $("#ModalAgregarTelefono").modal("show");
            },
            error: function (response) {
                alert("Error en carga Clientes" + response.responseText);
            }
        });
        }


        function EditTelefono(id) {
        $.ajax({
            type: "GET",
            contentType: "application/json; charset=utf-8",
            url: "@Url.Action("GetTelByID", "Telefonos")",
            data: { id: id },
            dataType: "json",
            success: function (data) {
                $("#TelefonoID").val(data.TelefonoID);
                $("#NombreTel").val(data.persona.Nombre);
                $("#IdTelefono").val(data.Telefono);
                $("#EditarTelefono").modal("show");
            },
            error: function (response) {
                alert("Error en carga Clientes" + response.responseText);
            }
        });
    }

    function AgregarTelefono () {

        var dataObject = JSON.stringify(
            {
                'Telefono': $("#Telefono").val(),
                'PersonaID': $("#PersonaID").val()


            });
        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            url: "@Url.Action("InsertarTelefonos", "Telefonos")",
            data: dataObject,
            dataType: "json",
            success: function (data) {
                if (data == "OK") {
                    windowDialog("Registro Incluido exitosamente");
                } else {
                    windowDialog("Ha ocurrido un error al  ingresar la información. Por favor verifique si la misma se actualizo correctamente");
                }

                $("#AgregarTelefonos").modal("hide");
                TableTelefonos();

            },
            error: function (response) {
                alert("Error Agregar Telefonos:" + response.responseText);
            }

        });

    }

    function ModificarTelefeno () {

        var dataObject = JSON.stringify(
            {
                'Telefono': $("#IdTelefono").val(),
               'TelefonoID': $("#TelefonoID").val()

            });
        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            url: "@Url.Action("Editar", "Telefonos")",
            data: dataObject,
            dataType: "json",
            success: function (data) {
                if (data == "OK") {
                    windowDialog("Registro Incluido exitosamente");
                } else {
                    windowDialog("Ha ocurrido un error al  ingresar la información. Por favor verifique si la misma se actualizo correctamente");
                }

                $("#EditarTelefono").modal("hide");
                TableTelefonos();

            },
            error: function (response) {
                alert("Error Agregar Personas:" + response.responseText);
            }

        });

    }

         function deleteTelefono(id) {
        confirmDialog("¿Esta seguro de eliminar el registro seleccionado ?", function () {
            $.ajax({
                type: "GET",
                contentType: "application/json; charset=utf-8",
                url: "@Url.Action("Delete", "Telefonos")",
                data: { id: id },
                dataType: "json",
                success: function (data) {
                    if (data) {
                        windowDialog("Registro eliminado exitosamente");
                    }else{
                        windowDialog("Ha ocurrido un error al eliminar la información. Por favor verifique e intente nuevamente");
                    }
                    TableTelefonos();
                },
                error: function (response) {
                    alert("Error borrar alerta: " + response.responseText);
                }
            });
        });
    }



     $("#btnNuevo").click(function () {
         clearPersonas()
         $("#ModalPersona").modal("show");
     });

    $("#Limpiar").click(function () {

        $("#NombreBuscar").val("");
        TablePersonas();

    });
        $("#BuscarNombre").click(function () {
            TablePersonas();
        });

    $("#btnNuevoTelefono").click(function () {

            $("#AgregarTelefonos").modal("show");
        });


   function clearPersonas() {
      $("#IdNombre").val("");
      $("#IdCredito").val("");
      $("#IdFecha").val("");
        }
   function clearTelefono() {
     $("#Telefono").val("");

        }
    function VerTelefonos(id) {
        clearTelefono();
      $("#PersonaID").val(id);
      $("#Telefonostabla").show();
      TableTelefonos();
              }
    function InsPersonas() {
      InsertarPersonas();
        }
    function UpdaPersonas() {
      ModificarPersonas();
        }
     function Telefono() {
       AgregarTelefono();
    }


    function confirmDialog(message, onConfirm) {
        var fClose = function () {
            modal.modal("hide");
        };
        var modal = $("#confirmModal");
        modal.modal("show");
        $("#confirmMessage").empty().append(message);
        $("#confirmOk").one('click', onConfirm);
        $("#confirmOk").one('click', fClose);
        $("#confirmCancel").one("click", fClose);
    }


        function windowDialog(message, onConfirm) {
            var fClose = function () {
                modal.modal("hide");
            };
            var modal = $("#windowModal");
            modal.modal("show");
            $("#windowMessage").empty().append(message);
            $("#windowOk").one('click', onConfirm);
            $("#windowOk").one('click', fClose);
        }


        $(document).ready(function () {
            TablePersonas();


        });


        $('.datepicker').datepicker({
            format: 'dd/mm/yyyy'

        });
</script>
}
