﻿
@{
    ViewBag.Title = "Index";
}

<div class="wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2><i class="fa fa-users"></i>Moneda</h2>
        <ol class="breadcrumb">
            <li>
                <a  title="info"  href="@Url.Action("About","Home")"><i class="fa fa-home"></i> Inicio</a>
            </li>
            <li class="active">
                <strong>Moneda</strong>
            </li>
            <li class="pull-right">
                <strong></strong>
            </li>
        </ol>
    </div>

</div>



<div class="Caja">

    <div class="box-body">

        <div class="row">

            <div class="ibox float-e-margins">

                <div class="ibox-title">
                    <strong>Moneda</strong>

                </div>

                <div class="ibox-content" style="overflow-x:auto;">
                    @*<div class="pull-left">
                            <input type="button" class="btn btn-success" value="Buscar" id="BuscarNombre">
                            <input id="NombreBuscar" type="text">
                            <input type="button" class="btn btn-success" value="Limpiar" id="Limpiar">
                        </div>*@
                    <div class="pull-right">

                        <button id="btnNuevo" type="button" class="btn btn-success">+</button>

                    </div>

                    <table id="Moneda" class="table table-bordered table-striped" width="100%">
                        <thead>


                            <tr>
                                <th>Nombre</th>
                                <th>Simbolo</th>
                                <th>Editar</th>
                                <th>Eliminar</th>


                            </tr>
                        </thead>


                        <tbody></tbody>

                        <tfoot>

                        </tfoot>

                    </table>



                </div>

            </div>
        </div>
    </div>

</div>

<div id="ModalMoneda" class="modal" role="dialog">
    <form id="frmPrincipal" class="form-horizontal" action="javascript:InsMoneda()">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Ingresar Moneda</h4>
                </div>
                <div class="modal-body">
                    <div class="box-body">
                        
                        <div class="form-group">

                            <label class="col-sm-3 control-label prueba">Nombre</label>
                            <div class="col-sm-6">
                                <input class="form-control" id="IdNombre" name="IdNombre" type="text" value="" required />
                            </div>

                        </div>
                        <div class="form-group">

                            <label class="col-sm-3 control-label prueba">Simbolo</label>
                            <div class="col-sm-6">
                                <input class="form-control" id="IdAbreviatura" name="IdAbreviatura" type="text" value="" required />
                            </div>

                        </div>
                       

                      
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="addPersonE" type="submit" name="addPersonE" class="btn btn-success">Guardar</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>

        </div>
    </form>
</div>



<div id="EditMoneda" class="modal" role="dialog">
    <form id="frmPrincipal2" class="form-horizontal" action="javascript:ModificarMoneda()">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Editar Moneda</h4>
                </div>
                <div class="modal-body">
                    <div class="box-body">

                        <div class="form-group">

                            <label class="col-sm-3 control-label prueba">Nombre</label>
                            <div class="col-sm-6">
                                <input class="form-control" id="IdNombreE" name="IdNombreE" type="text" value="" required />
                            </div>

                        </div>
                        <div class="form-group">

                            <label class="col-sm-3 control-label prueba">Simbolo</label>
                            <div class="col-sm-6">
                                <input class="form-control" id="IdAbreviaturaE" name="IdAbreviatura" type="text" value="" required />
                            </div>

                        </div>



                    </div>
                </div>
                <div class="modal-footer">
                    <button id="addPerson" type="submit" name="addPerson" class="btn btn-success">Guardar</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>

        </div>
    </form>
</div>
<div class="modal" id="confirmModal" style="display: none; z-index: 1050;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body" id="confirmMessage">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="confirmOk">Si</button>
                <button type="button" class="btn btn-default" id="confirmCancel">No</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="windowModal" style="display: none; z-index: 1050;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body" id="windowMessage">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="windowOk">Aceptar</button>
            </div>
        </div>
    </div>
</div>


<form id="form" method="post">
    <input type="hidden" id="IdMoneda" value="" />
    <input type="hidden" id="TelefonoID" value="" />
</form>


@section Styles {
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
}
@section Scripts {
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-
datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-
datepicker/1.4.1/css/bootstrap-datepicker3.css" />

    <link href="~/Content/plugins/datapicker/datepicker3.css" rel="stylesheet" />

    @Scripts.Render("~/plugins/dataTables")
    <script type="text/javascript">
        var activo = true;

            function TableMoneda() {
                var table;
                var nombre = $("#NombreBuscar").val();

                table = $("#Moneda").DataTable();
            table.destroy();

                table = $("#Moneda").DataTable({
                language: {
                    processing: "Procesando..",
                    search: "Buscar:",
                    lengthMenu: "Mostrando _MENU_ registros por página",
                    //info: "Mostrando pàgina _PAGE_ de _PAGES_",
                    infoEmpty: "",
                    //infoFiltered: "(Filtrado de un total de _MAX_ registros)",
                    loadingRecords: "Cargando registros..",
                    zeroRecords: "No existen registros",
                    emptyTable: "No existen registros disponibles",
                    paginate: {
                        first: "Primero",
                        previous: "Anterior",
                        next: "Siguiente",
                        last: "Último"
                    },
                    aria: {
                        sortAscending: ": Ordenar ascendentemente",
                        sortDescending: ": Ordenar descendentemente"
                    }
                    },
                    paging: true,
                    info: false,
                    searching: true,
                ordering: false,
                ajax: {
                     url: "@Url.Action("Get", "Moneda")",
                    type: "GET",
                    data: { nombre: nombre },
                    dataSrc: 'data'
                },
                columns: [

                    {
                        data: 'NombreMoneda',
                          width: "10"
                    },
                    {
                        data: 'Abreviatura',
                         width: "10"
                    },
                    
                    {

                        data: 'IdMoneda',
                        width:"10",
                        searchable: false,
                        orderable: false,
                        render: function (data, type, row, meta) {
                            return '<center><a class="fa fa-fw fa-edit" href="javascript:editMoneda(' + data + ');"> </a></center>'
                        }
                    },



                    {

                        data: 'IdMoneda',
                        width: "10",
                        searchable: false,
                        orderable: false,
                        render: function (data, type, row, meta) {
                            return '<center><a class="fa fa-fw fa-remove" id="Remove" href="javascript:deleteMoneda(' + data + ');"> </a></center>'
                        }
                    },



                ]
            });
    }
    function InsertarMoneda () {

        var dataObject = JSON.stringify(
            {
                'Abreviatura': $("#IdAbreviatura").val(),
                'NombreMoneda': $("#IdNombre").val(),
                
                'Activo': activo


            });
        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            url: "@Url.Action("Insert", "Moneda")",
            data: dataObject,
            dataType: "json",
            success: function (data) {
                if (data == "OK") {
                    toastr.success("Registro Incluido exitosamente");
                    $("#ModalMoneda").modal("hide");

                    clearMoneda();
                    TableMoneda();
                } else if (data == "Codigo") {
                    toastr.error("El codigo ingresado ya  esta asociado a un Moneda!!");
                }
                else if (data == "Nombre") {
                    toastr.error("El Nombre ingresado  ya esta asociado a un Moneda!!");
                }
                else {
                    toastr.error("El Documento ingresado  ya esta asociado a un Moneda!!");
                }



            },
            error: function (response) {
                alert("Error Agregar Moneda:" + response.responseText);
            }

        });

    }
        function editMoneda(id) {
        $.ajax({
            type: "GET",
            contentType: "application/json; charset=utf-8",
            url: "@Url.Action("GetById", "Moneda")",
            data: { id: id },
            dataType: "json",
            success: function (data) {

                $("#IdAbreviaturaE").val(data.Abreviatura);
                $("#IdNombreE").val(data.NombreMoneda);
               
                $("#IdMoneda").val(id);




                $("#EditMoneda").modal("show");
            },
            error: function (response) {
                alert("Error en carga Moneda" + response.responseText);
            }
        });
    }

      function ModificarMoneda () {

        var dataObject = JSON.stringify(
            {
                'Abreviatura': $("#IdAbreviaturaE").val(),
                'NombreMoneda': $("#IdNombreE").val(),
                'IdMoneda': $("#IdMoneda").val()

            });
        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            url: "@Url.Action("Edit", "Moneda")",
            data: dataObject,
            dataType: "json",
            success: function (data) {
                if (data == "OK") {
                    toastr.success("Registro Modificado exitosamente");
                    $("#EditMoneda").modal("hide");
                    TableMoneda();
                } else if (data == "Codigo") {

                    toastr.error("El codigo ingresado ya  esta asociado a un Moneda!!");
                }
                else if (data == "Nombre") {

                    toastr.error("El Nombre ingresado  ya esta asociado a un Moneda!!");
                }
                else {

                    toastr.error("El Documento ingresado  ya esta asociado a un Moneda!!");
                }



            },
            error: function (response) {
                alert("Error Agregar Moneda:" + response.responseText);
            }

        });

    }

     function deleteMoneda(id) {
        confirmDialog("¿Esta seguro de eliminar el registro seleccionado ?", function () {
            $.ajax({
                type: "GET",
                contentType: "application/json; charset=utf-8",
                url: "@Url.Action("Delete", "Moneda")",
                data: { id: id },
                dataType: "json",
                success: function (data) {
                    if (data) {
                        toastr.success("Registro eliminado exitosamente");
                    }else{
                        windowDialog("Ha ocurrido un error al eliminar la información. Por favor verifique e intente nuevamente");
                    }
                    TableMoneda();

                },
                error: function (response) {
                    alert("Error borrar alerta: " + response.responseText);
                }
            });
        });
            }

            $("#btnNuevo").click(function () {
                clearMoneda()
                $("#ModalMoneda").modal("show");
            });

            $("#Limpiar").click(function () {

                $("#NombreBuscar").val("");
                TablePersonas();

            });
            $("#BuscarNombre").click(function () {
                TablePersonas();
            });


            function clearMoneda() {
                $("#IdAbreviatura").val("");
                $("#IdNombre").val("");
                


            }

            function InsMoneda() {
                InsertarMoneda();
            }
            function UpdaPersonas() {
                ModificarPersonas();
            }



    function confirmDialog(message, onConfirm) {
        var fClose = function () {
            modal.modal("hide");
        };
        var modal = $("#confirmModal");
        modal.modal("show");
        $("#confirmMessage").empty().append(message);
        $("#confirmOk").one('click', onConfirm);
        $("#confirmOk").one('click', fClose);
        $("#confirmCancel").one("click", fClose);
    }


        function windowDialog(message, onConfirm) {
            var fClose = function () {
                modal.modal("hide");
            };
            var modal = $("#windowModal");
            modal.modal("show");
            $("#windowMessage").empty().append(message);
            $("#windowOk").one('click', onConfirm);
            $("#windowOk").one('click', fClose);
        }


        $(document).ready(function () {
            TableMoneda();


        });


        $('.datepicker').datepicker({
            format: 'dd/mm/yyyy'

        });

        
    </script>
}

