﻿<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable =no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Sistema| @ViewBag.Title</title>

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
    <!-- Add local styles, mostly for plugins css file -->
    @if (IsSectionDefined("Styles"))
    {@RenderSection("Styles", required: false)}


    <link href="~/Content/dist/css/skins/_all-skins.min.css" rel="stylesheet" />
    <!-- Add jQuery Style direct - used for jQGrid plugin -->
    <link href="@Url.Content("~/Scripts/plugins/jquery-ui/jquery-ui.min.css")" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <!-- Ionicons -->
    @*<link href="~/Content/Site.css" rel="stylesheet" />*@
    @*<link href="~/Content/bootstrap/css/bootstrap.min.css" rel="stylesheet" />*@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link href="~/Content/dist/css/AdminLTE.css" rel="stylesheet" />
    <!-- Primary Inspinia style -->
    <link href="~/Content/dist/css/AdminLTE.min.css" rel="stylesheet" />
   
    <link href="~/Content/plugins/toastr/toastr.min.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @Styles.Render("~/font-awesome/css")

    <style>

        /*  .Caja {
              position: absolute;
              top: 60%;
              left: 50%;
              transform: translate(-50%,-50%);
              width: 1720px;
              height: 1000px;
              padding: 80px 40px;

          }
        */


    </style>

</head>
<body>

    <div class="contenedor" style="overflow-x:auto;">

        <!-- Skin configuration box -->
        <!-- @Html.Partial("_SkinConfig") -->
        <!-- Wrapper-->
        <!-- PageClass give you ability to specify custom style for specific view based on action -->
        <div id="wrapper">

            <!-- Navigation -->
            @Html.Partial("_Navigation")

            <!-- Page wraper -->
            <div id="page-wrapper" class="gray-bg @ViewBag.SpecialClass">

                <!-- Top Navbar -->
                @Html.Partial("_TopNavbar")

                <!-- Main view  -->
                @RenderBody()

                <!-- Footer -->
                @Html.Partial("_Footer")

            </div>

        </div>
    </div>
    <!-- End page wrapper-->
    <!-- Right Sidebar -->
    @*@Html.Partial("_RightSidebar")*@




    <!-- End wrapper-->
    <!-- Section for main scripts render -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/plugins/slimScroll")
    @Scripts.Render("~/bundles/inspinia")
    <script src="~/Scripts/plugins/toastr/toastr.min.js"></script>
    <script src="~/Content/dist/js/demo.js"></script>
    <!-- Skin config script - only for demo purpose-->
    @*@Scripts.Render("~/bundles/skinConfig")*@
    @*<script src="~/Content/dist/js/app.min.js"></script>*@
    <!-- Handler for local scripts -->
    @RenderSection("scripts", required: false)


</body>

</html>
