﻿

@using ABM_Sistemas_Plenarios.Filters;
@using Models;
@{

    var oUsuario = (Usuario)HttpContext.Current.Session["usuario"];



}


<style>



    .avatar {
        position: absolute;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        overflow: hidden;
        top: calc(-60px/2);
        left: calc(40% - 40px);
    }
</style>
@if (oUsuario != null)
{
    <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav metismenu" id="side-menu">
                <li class="nav-header">

                    <div class="dropdown profile-element">



                        <span>
                            <img alt="image" class="avatar" src="~/Content/Images/usuarios/default.png" />
                        </span>
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="clear">
                                <span class="block m-t-xs">
                                    @if (oUsuario != null)
                                    {
                                        <strong class="font-bold">@oUsuario.Nombre     @oUsuario.Apellido</strong>
                                    }
                                    else
                                    {
                                        <strong class="font-bold"></strong>
                                    }
                                </span>
                            </span>
                        </a>
                        

                    </div>

                </li>


                <!--<li class="">
                    <a href="#">
                        <i class=""></i>
                        <span class="nav-label"></span> <span>Ventas</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-right pull-right"></i>
                        </span>
                    </a>
                    <ul class="nav nav-second-level collapse">-->
                        @*<li class="">
                                <a href="@Url.Action("Index","Personas")"><i></i> Personas</a>
                            </li>*@

                        <!--<li class="">
                            <a href="@Url.Action("Index", "Clientes")"><i></i> Clientes</a>
                        </li>
                        <li class="">
                            <a href="@Url.Action("Index", "Clientes")"><i></i> Factura Venta</a>
                        </li>

                    </ul>
                </li>
                <li class="">
                    <a href="#">
                        <i class=""></i>
                        <span class="nav-label"></span> <span>Almacenes</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-right pull-right"></i>
                        </span>
                    </a>
                    <ul class="nav nav-second-level collapse">-->
                        @*<li class="">
                                <a href="@Url.Action("Index","Personas")"><i></i> Personas</a>
                            </li>*@

                        <!--<li class="clientes">
                            <a href="@Url.Action("Index", "Clientes")"><i></i> Lista de Almacenes</a>
                        </li>
                        <li class="">
                            <a href="@Url.Action("Index", "Productos")"><i></i>Productos</a>
                        </li>
                        <li class="">
                            <a href="@Url.Action("Index", "EstadoProductos")"><i></i> Estado Productos</a>
                        </li>
                        <li class="">
                            <a href="@Url.Action("Index", "EstadoDespachos")"><i></i>Estado Despachos</a>
                        </li>



                    </ul>
                </li>


                <li class="">
                    <a href="#">
                        <i class=""></i>
                        <span class="nav-label"></span> <span>Compras</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-right pull-right"></i>
                        </span>
                    </a>
                    <ul class="nav nav-second-level collapse">
                        <li class="">
                            <a href="@Url.Action("Index","Proveedores")"><i></i> Proveedores</a>
                            <a href="@Url.Action("Index","Proveedores")"><i></i> Requerimiento</a>
                            <a href="@Url.Action("Index","Proveedores")"><i></i> Orden de Compra</a>
                            <a href="@Url.Action("Index","Proveedores")"><i></i> Factura de Compra</a>
                        </li>




                    </ul>
                </li>-->

                <li class="">
                    <a href="#">
                        <i class=""></i>
                        <span class="nav-label"></span> <span>Configuración</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-right pull-right"></i>
                        </span>
                    </a>
                    <ul class="nav nav-second-level collapse">
                        @*<li class="">
                                <a href="@Url.Action("Index","Personas")"><i></i> Personas</a>
                            </li>*@



                        @if (oUsuario.Flag == 1)
                        {
                            <li class="">
                                <a href="@Url.Action("Index", "Usuarios")"><i></i>Config Usuarios</a>
                                <a href="@Url.Action("Index","Empresas")"><i></i>Config. Empresa</a>
                            </li>
                        }

                    </ul>
                </li>
            </ul>
        </div>
    </nav>

}

@*@section Scripts {

        <script src="~/Scripts/plugins/metisMenu/metisMenu.min.js"></script>
        <script>
            $(function () {
                $('#side-menu').metisMenu({ toggle: false });
            });
        </script>
    }*@
