﻿.ItemClasificacion {
    height: 150px !important;
    border-radius: 5px;
}

.ItemProducto {
    height: 150px !important;
    border-radius: 5px;
}

.scrollspy-clasificaciones {
    height: 550px !important;
}

.scrollspy-carrito {
    height: 400px !important;
}

.scrollspy-detalle {
    height: 185px !important;
}

.scrollspy-pagos {
    height: 145px !important;
}

.scrollspy-ticket-cab {
    height: 300px !important;
}

.scrollspy-ticket-det {
    height: 250px !important;
}

.scrollspy-suprogramacion {
    height: 250px !important;
}

.valor-total {
    color: #00695c !important;
    font-weight: bold !important;
    background-color: #e0f2f1 !important;
}

/* TABLE HORIZONTAL */

#TblPagos th, td {
    /*use this property to disbale soft wrap*/
    white-space: nowrap;
    /*To make extra certain,add this css property*/
    word-break: keep-all;
}

/* In the same line of .table-responsive */
.no-overflow {
    overflow: visible !important;
}

.form-group-no-mb {
    margin-bottom: 0px !important;
}
