﻿
@{
    ViewBag.Title = "Index";
}

<div class="wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2><i class="fa fa-users"></i>Clientes</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("About","Home")"><i class="fa fa-home"></i> Inicio</a>
            </li>
            <li class="active">
                <strong>Clientes</strong>
            </li>
            <li class="pull-right">
                <strong></strong>
            </li>
        </ol>
    </div>

</div>



<div class="Caja">

    <div class="box-body">

        <div class="row">

            <div class="ibox float-e-margins">

                <div class="ibox-title">
                    <strong>Clientes</strong>

                </div>

                <div class="ibox-content" style="overflow-x:auto;">
                    @*<div class="pull-left">
                        <input type="button" class="btn btn-success" value="Buscar" id="BuscarNombre">
                        <input id="NombreBuscar" type="text">
                        <input type="button" class="btn btn-success" value="Limpiar" id="Limpiar">
                    </div>*@
                    <div class="pull-right">

                        <button id="btnNuevo" type="button" class="btn btn-success">+</button>

                    </div>

                    <table id="Clientes" class="table table-bordered table-striped" width="100%">
                        <thead>


                            <tr>
                                <th>Codigo</th>
                                <th>Nombre</th>
                                <th>Email</th>
                                <th>Telefono</th>
                                <th>Numero Documento</th>
                                <th>Editar</th>
                                <th>Eliminar</th>


                            </tr>
                        </thead>


                        <tbody></tbody>

                        <tfoot>

                        </tfoot>

                    </table>



                </div>

            </div>
        </div>
    </div>

</div>

<div id="ModalClientes" class="modal" role="dialog">
    <form id="frmPrincipal" class="form-horizontal" action="javascript:InsClientes()">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Ingresar Clientes</h4>
                </div>
                <div class="modal-body">
                    <div class="box-body">
                        <div class="form-group">

                            <label class="col-sm-3 control-label prueba">Codigo</label>
                            <div class="col-sm-6">
                                <input class="form-control" id="IdCodigo" name="IdCodigo" type="text" value="" required />
                            </div>

                        </div>
                        <div class="form-group">

                            <label class="col-sm-3 control-label prueba">Nombre</label>
                            <div class="col-sm-6">
                                <input class="form-control" id="IdNombre" name="IdNombre" type="text" value="" required />
                            </div>

                        </div>
                        <div class="form-group">

                            <label class="col-sm-3 control-label prueba">Email</label>
                            <div class="col-sm-6">
                                <input class="form-control" id="IdEmail" name="IdEmail" type="email" value="" required />
                            </div>

                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Numero Documento</label>
                            <div class="col-sm-6">
                                <input class="form-control" id="IdDocumento" name="IdDocumento" type="text" value="" required />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Direccion</label>
                            <div class="col-md-6">

                                <input class="form-control" id="IdDireccion" name="IdDireccion" type="text" value="" required />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Teléfono</label>
                            <div class="col-md-6">

                                <input class="form-control" id="IdTelefono" name="IdTelefono" type="text" value="" required />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="addPersonE" type="submit" name="addPersonE" class="btn btn-success">Guardar</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>

        </div>
    </form>
</div>



<div id="EditClientes" class="modal" role="dialog">
    <form id="frmPrincipal2" class="form-horizontal" action="javascript:ModificarClientes()">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Editar Cliente</h4>
                </div>
                <div class="modal-body">
                    <div class="box-body">
                        <div class="form-group">

                            <label class="col-sm-3 control-label prueba">Codigo</label>
                            <div class="col-sm-6">
                                <input class="form-control" id="IdCodigoE" name="IdCodigoE" type="text" value="" required />
                                <h4 class="modal-title" id="mensaje"></h4>
                            </div>

                        </div>
                        <div class="form-group">

                            <label class="col-sm-3 control-label prueba">Nombre</label>
                            <div class="col-sm-6">
                                <input class="form-control" id="IdNombreE" name="IdNombreE" type="text" value="" required />
                            </div>

                        </div>
                        <div class="form-group">

                            <label class="col-sm-3 control-label prueba">Email</label>
                            <div class="col-sm-6">
                                <input class="form-control" id="IdEmailE" name="IdEmailE" type="email" value="" required />
                            </div>

                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Numero Documento</label>
                            <div class="col-sm-6">
                                <input class="form-control" id="IdDocumentoE" name="IdDocumentoE" type="text" value="" required />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 ">Direccion</label>
                            <div class="col-md-6">

                                <input class="form-control"  id="IdDireccionE" name="IdDireccionE" value="" required />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 ">Teléfono</label>
                            <div class="col-md-6">

                                <input class="form-control" id="IdTelefonoE" name="IdTelefonoE" type="text" value="" required />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="addPerson" type="submit" name="addPerson" class="btn btn-success">Guardar</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>

        </div>
    </form>
</div>
<div class="modal" id="confirmModal" style="display: none; z-index: 1050;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body" id="confirmMessage">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="confirmOk">Si</button>
                <button type="button" class="btn btn-default" id="confirmCancel">No</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="windowModal" style="display: none; z-index: 1050;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body" id="windowMessage">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="windowOk">Aceptar</button>
            </div>
        </div>
    </div>
</div>


<form id="form" method="post">
    <input type="hidden" id="IdCliente" value="" />
    <input type="hidden" id="TelefonoID" value="" />
</form>


@section Styles {
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
}
@section Scripts {
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-
datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-
datepicker/1.4.1/css/bootstrap-datepicker3.css" />

    <link href="~/Content/plugins/datapicker/datepicker3.css" rel="stylesheet" />

    @Scripts.Render("~/plugins/dataTables")
    <script type="text/javascript">
        var activo = true;

            function TableClientes() {
                var table;
                var nombre = $("#NombreBuscar").val();

                table = $("#Clientes").DataTable();
            table.destroy();

                table = $("#Clientes").DataTable({
                language: {
                    processing: "Procesando..",
                    search: "Buscar:",
                    lengthMenu: "Mostrando _MENU_ registros por página",
                    //info: "Mostrando pàgina _PAGE_ de _PAGES_",
                    infoEmpty: "",
                    //infoFiltered: "(Filtrado de un total de _MAX_ registros)",
                    loadingRecords: "Cargando registros..",
                    zeroRecords: "No existen registros",
                    emptyTable: "No existen registros disponibles",
                    paginate: {
                        first: "Primero",
                        previous: "Anterior",
                        next: "Siguiente",
                        last: "Último"
                    },
                    aria: {
                        sortAscending: ": Ordenar ascendentemente",
                        sortDescending: ": Ordenar descendentemente"
                    }
                    },
                    paging: true,
                    info: false,
                    searching: true,
                ordering: false,
                ajax: {
                     url: "@Url.Action("GetClientes", "Clientes")",
                    type: "GET",
                    data: { nombre: nombre },
                    dataSrc: 'data'
                },
                columns: [

                    {
                        data: 'CodigoCliente',
                          width: "10"
                    },
                    {
                        data: 'RazonSocial',
                         width: "10"
                    },
                    {
                        data: 'EmailCliente',
                        width: "10"
                    },
                    {
                        data: 'Telefono',
                        width: "10"
                    },
                    {
                        data: 'NumeroDocumento',
                        width: "10"
                    },
                    {

                        data: 'IdCliente',
                        width:"10",
                        searchable: false,
                        orderable: false,
                        render: function (data, type, row, meta) {
                            return '<center><a class="fa fa-fw fa-edit" href="javascript:editClientes(' + data + ');"> </a></center>'
                        }
                    },



                    {

                        data: 'IdCliente',
                        width: "10",
                        searchable: false,
                        orderable: false,
                        render: function (data, type, row, meta) {
                            return '<center><a class="fa fa-fw fa-remove" href="javascript:deleteClientes(' + data + ');"> </a></center>'
                        }
                    },



                ]
            });
    }
    function InsertarClientes () {
      
        var dataObject = JSON.stringify(
            {
                'CodigoCliente': $("#IdCodigo").val(),
                'RazonSocial': $("#IdNombre").val(),
                'EmailCliente': $("#IdEmail").val(),
                'NumeroDocumento': $("#IdDocumento").val(),
                'Direccion': $("#IdDireccion").val(),
                'Telefono': $("#IdTelefono").val(),
                'Activo': activo


            });
        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            url: "@Url.Action("InsertarCliente", "Clientes")",
            data: dataObject,
            dataType: "json",
            success: function (data) {
                if (data == "OK") {
                    toastr.success("Registro Incluido exitosamente");
                    $("#ModalClientes").modal("hide");
                  
                    clearClientes();
                    TableClientes();
                } else if (data == "Codigo") {
                    toastr.error("El codigo ingresado ya  esta asociado a un cliente!!");
                }
                else if (data == "Nombre") {
                    toastr.error("El Nombre ingresado  ya esta asociado a un cliente!!");
                }
                else {
                    toastr.error("El Documento ingresado  ya esta asociado a un cliente!!");
                }
               
                

            },
            error: function (response) {
                alert("Error Agregar Clientes:" + response.responseText);
            }

        });

    }
        function editClientes(id) {
        $.ajax({
            type: "GET",
            contentType: "application/json; charset=utf-8",
            url: "@Url.Action("GetClienteById", "Clientes")",
            data: { id: id },
            dataType: "json",
            success: function (data) {
              
                $("#IdCodigoE").val(data.CodigoCliente);
                $("#IdNombreE").val(data.RazonSocial);
                $("#IdEmailE").val(data.EmailCliente);
                $("#IdDocumentoE").val(data.NumeroDocumento);
                $("#IdDireccionE").val(data.Direccion);
                $("#IdTelefonoE").val(data.Telefono);
                $("#IdCliente").val(id);




                $("#EditClientes").modal("show");
            },
            error: function (response) {
                alert("Error en carga Clientes" + response.responseText);
            }
        });
    }

      function ModificarClientes () {

        var dataObject = JSON.stringify(
            {
                'CodigoCliente': $("#IdCodigoE").val(),
                'RazonSocial': $("#IdNombreE").val(),
                'EmailCliente': $("#IdEmailE").val(),
                'NumeroDocumento': $("#IdDocumentoE").val(),
                'Direccion': $("#IdDireccionE").val(),
                'Telefono': $("#IdTelefonoE").val(),
                'IdCliente': $("#IdCliente").val()
              
            });
        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            url: "@Url.Action("EditCliente", "Clientes")",
            data: dataObject,
            dataType: "json",
            success: function (data) {
                if (data == "OK") {
                    toastr.success("Registro Modificado exitosamente");
                    $("#EditClientes").modal("hide");
                    TableClientes();
                } else if (data == "Codigo") {

                    toastr.error("El codigo ingresado ya  esta asociado a un cliente!!");
                }
                else if (data == "Nombre") {

                    toastr.error("El Nombre ingresado  ya esta asociado a un cliente!!");
                }
                else {

                    toastr.error("El Documento ingresado  ya esta asociado a un cliente!!");
                }



            },
            error: function (response) {
                alert("Error Agregar Clientes:" + response.responseText);
            }

        });

    }

     function deleteClientes(id) {
        confirmDialog("¿Esta seguro de eliminar el registro seleccionado ?", function () {
            $.ajax({
                type: "GET",
                contentType: "application/json; charset=utf-8",
                url: "@Url.Action("DeleteCliente", "Clientes")",
                data: { id: id },
                dataType: "json",
                success: function (data) {
                    if (data) {
                        toastr.success("Registro eliminado exitosamente");
                    }else{
                        windowDialog("Ha ocurrido un error al eliminar la información. Por favor verifique e intente nuevamente");
                    }
                    TableClientes();
                   
                },
                error: function (response) {
                    alert("Error borrar alerta: " + response.responseText);
                }
            });
        });
            }

            $("#btnNuevo").click(function () {
                clearClientes()
                $("#ModalClientes").modal("show");
            });

            $("#Limpiar").click(function () {

                $("#NombreBuscar").val("");
                TablePersonas();

            });
            $("#BuscarNombre").click(function () {
                TablePersonas();
            });


            function clearClientes() {
                $("#IdCodigo").val("");
                $("#IdNombre").val("");
                $("#IdEmail").val("");
                $("#IdDocumento").val("");
                $("#IdDireccion").val("");
                $("#IdTelefono").val("");


            }

            function InsClientes() {
                InsertarClientes();
            }
            function UpdaPersonas() {
                ModificarPersonas();
            }



    function confirmDialog(message, onConfirm) {
        var fClose = function () {
            modal.modal("hide");
        };
        var modal = $("#confirmModal");
        modal.modal("show");
        $("#confirmMessage").empty().append(message);
        $("#confirmOk").one('click', onConfirm);
        $("#confirmOk").one('click', fClose);
        $("#confirmCancel").one("click", fClose);
    }


        function windowDialog(message, onConfirm) {
            var fClose = function () {
                modal.modal("hide");
            };
            var modal = $("#windowModal");
            modal.modal("show");
            $("#windowMessage").empty().append(message);
            $("#windowOk").one('click', onConfirm);
            $("#windowOk").one('click', fClose);
        }


        $(document).ready(function () {
            TableClientes();


        });


        $('.datepicker').datepicker({
            format: 'dd/mm/yyyy'

        });
    </script>
}
