﻿
@{
    ViewBag.Title = "Login";
    Layout = "/Views/Shared/Layout_Login.cshtml";
}
<head>




    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
    <!-- Add local styles, mostly for plugins css file -->

    <link href="~/Content/dist/css/skins/_all-skins.min.css" rel="stylesheet" />
    <!-- Add jQuery Style direct - used for jQGrid plugin -->
    <link href="@Url.Content("~/Scripts/plugins/jquery-ui/jquery-ui.min.css")" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <!-- Ionicons -->
    @*<link href="~/Content/Site.css" rel="stylesheet" />*@
    <link href="~/Content/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link href="~/Content/dist/css/AdminLTE.css" rel="stylesheet" />
    <!-- Primary Inspinia style -->
    <link href="~/Content/dist/css/AdminLTE.min.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @Styles.Render("~/font-awesome/css")

    @*End wrapper
        Section for main scripts render*@
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/plugins/slimScroll")
    @Scripts.Render("~/bundles/inspinia")
    <script src="~/Content/dist/js/demo.js"></script>
    <!-- Skin config script - only for demo purpose-->
    @Scripts.Render("~/bundles/skinConfig")
    <script src="~/Content/dist/js/app.min.js"></script>
    <!-- Handler for local scripts -->


</head>
<style>
    body {
        margin: 0;
        padding: 0;
    }

        body:before {
            content: '';
            position: fixed;
            width: 100vw;
            height: 100vh;
            background-image: url("erp_2.jpg");
            background-position: center center;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
            -webkit-filter: blur(10px);
            -moz-filter: blur(10px);
            -o-filter: blur(10px);
            -ms-filter: blur(10px);
            filter: blur(10px);
        }

    .contact-form {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 400px;
        height: 500px;
        padding: 80px 40px;
        box-sizing: border-box;
        background: rgba(0,0,0,.5);
    }

    .avatar {
        position: absolute;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        overflow: hidden;
        top: calc(-80px/2);
        left: calc(50% - 40px);
    }

    .contact-form h2 {
        margin: 0;
        padding: 0 0 20px;
        color: #fff;
        text-align: center;
        text-transform: uppercase;
    }

    .contact-form p {
        margin: 0;
        padding: 0;
        font-weight: bold;
        color: #fff;
    }

    .contact-form input {
        width: 100%;
        margin-bottom: 20px;
    }

        .contact-form input[type="text"],
        .contact-form input[type="password"] {
            border: none;
            border-bottom: 1px solid #fff;
            background: transparent;
            outline: none;
            height: 40px;
            color: #fff;
            font-size: 16px;
        }

        .contact-form input[type="submit"] {
            height: 30px;
            color: #fff;
            font-size: 15px;
            background: red;
            cursor: pointer;
            border-radius: 25px;
            border: none;
            outline: none;
            margin-top: 15%;
        }

    .contact-form a {
        color: #fff;
        font-size: 14px;
        font-weight: bold;
        text-decoration: none;
    }

    input[type="checkbox"] {
        width: 20%;
    }
</style>

<div class="login-cover">
    <div class="login-cover-image" style="background-image: url(/Content/Images/erp_2.jpg);" data-id="login-cover-image"></div>
    <div class="login-cover-bg"></div>
</div>
<div class="contact-form">


    <img src="~/Content/Images/2.jpg" class="avatar">
    <h2>Ingreso</h2>

    <form action="javascript:GetLogin()" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label type="email" name="correo" class="control-label"></label>
            <input type="email" id="IdCorreo" name="correo" class="form-control" value="" />

        </div>
        <div class="form-group">
            <label asp-for="Password" class="control-label"></label>
            <input type="password" id="IdPassword" name="password" class="form-control" value="" />

        </div>
        <div class="form-group">
            <input type="submit" value="Ingresar" class="btn btn-default" />
        </div>
    </form>
    <div class="text-center" id="Error">
        <h3>@ViewBag.Error</h3>
    </div>
</div>




<div class="modal" id="windowModal" style="display: none; z-index: 1050;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body" id="windowMessage">


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="windowOk">Aceptar</button>
            </div>
        </div>
    </div>
</div>
<div id="loading">
    <div>
        <p>Cargando..</p>
        <img id="loading-image" src="~/Content/gif/spinner.gif" alt="Cargando..." />
    </div>
</div>

@section Scripts {
    <script src="~/Scripts/plugins/toastr/toastr.min.js"></script>
    <link href="~/Content/plugins/toastr/toastr.min.css" rel="stylesheet" />
    <script>

        function GetLogin() {
            
            var dataObject = JSON.stringify(
                {
                    'correo' : $("#IdCorreo").val(),
                   'password': $("#IdPassword").val()
                });
        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            url: "@Url.Action("Login", "Access")",
            data: dataObject,
            dataType: "json",
            success: function (data) {

                if (data == "OK") {

                    toastr.success("Ingreso Correcto");
                    window.location = '/Home/Index';
                }
                else {
                    toastr.error("Usuario o Contraseña incorrecta");
                }
             },

            error: function (response) {
            alert("Error en carga Empresas" + response.responseText);
            }
       });
        }

        $(window).on('load', function () {
            $("#loading").hide();
        });

        $(window).on('submit', function () {
            $("#loading").show();
        });
    </script>
}
