﻿@model Models.Empresa

@{
    ViewBag.Title = "About";
}

<style>
   
    .avatar1 {
        position: absolute;
        width: 200px;
        height: 150px;
        border-radius: 50%;
        overflow: hidden;
        top: calc(-10px/2);
        left: calc(30% - 40px);
    }

    
</style>


<div class="wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2><i class="fa fa-bank"></i>Empresa</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index","Home")"><i class="fa fa-home"></i> Seleccionar Empresa</a>
            </li>
            <li class="active">
                <strong>Empresa</strong>
            </li>

        </ol>
    </div>

</div>
<div class="box-body">

    <div class="row">

        <div class="ibox float-e-margins">

            <div class="ibox-title">
                <strong>Empresa</strong>

            </div>
            <div class="ibox-content" style="overflow-x:auto;">
                <div class="pull-right">

                    <button id="btnEditar" type="button" class="btn btn-success">Editar</button>

                </div>

                <div class="col-md-2">
                    <img id="Imagen" src="" with="300px" class="avatar1" />
                </div>
                <div class="col-md-4">
                    <h4 id=""> </h4>
                    <h4 id=""> </h4>
                    <h4 id="IdNombre"> </h4>
                    <h4 id="IdDocumento"></h4>
                    <h4 id="Idweb"></h4>
                    <h4 id="IdTelefono"></h4>
                    <h4 id="IdCorreo"></h4>
                    <h4 id="IdDireccion"></h4>
                </div>

            </div>
        </div>


    </div>
</div>
<form id="form" method="post">
    <input type="hidden" id="IdEmpresa" value="" />
    <input type="hidden" id="TelefonoID" value="" />
</form>


@section Scripts {







    <script type="text/javascript">





    function GetEmpresa() {


        $.ajax({
            type: "GET",
            contentType: "application/json; charset=utf-8",
            url: "@Url.Action("GetById", "Empresas")",
            data: { },
           dataType: "json",
            success: function (data) {

                var src = "~/ImagenesEmpresa/images.png";
                $("#IdNombre").html("<b><u>Nombre:</u></b>  " + data.Nombre);
                //$("#IdCorreoE").val(data.Correo);
                $("#Idweb").html("<b><u>Web:</u></b>  " + data.Web);
                $("#IdDocumento").html("<b><u>Documento:</u></b>  " + data.NumeroDocumento);
                $("#IdDireccion").html("<b><u>Direción:</u></b>  " + data.Direccion);
                $("#IdTelefono").html("<b><u>Telefono:</u></b>  " + data.Telefono);
                //$('#Imagen').append(image);
                $("#Imagen").attr("src", "/ImagenesEmpresa/"+ data.Logo +"");

                //$("#IdEmpresa").val(id);


            },
            error: function (response) {
                alert("Error en carga Empresas" + response.responseText);
            }
        });
       }

        $(document).ready(function () {
            GetEmpresa();


        });


    </script>
}