﻿@{
    ViewBag.Title = "Contact";
    Layout = "/Views/Shared/_Layout5.cshtml";

}
<div class="wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2><i class="fa fa-bank"></i>Creación Empresa</h2>
        <ol class="breadcrumb">

            <li class="active">
                <strong>Empresas</strong>
            </li>
            <li class="pull-right">
                <strong></strong>
            </li>
        </ol>
    </div>

</div>


<div class="box-body">

    <div class="row">

        <div class="ibox float-e-margins">

            <div class="ibox-title">


            </div>

            <div class="ibox-content" style="overflow-x:auto;">
                <form id="frmPrincipal" class="form-horizontal" action="javascript:InsEmpresa()">
                    <div class="">
                        <!-- Modal content-->
                        <div class="">
                            <div class="">

                                <h4 class="">Ingresar Empresa</h4>
                            </div>
                            <div class="">
                                <div class="box-body">
                                    <div class="form-group">

                                        <label class="col-sm-3 control-label prueba">Nombre</label>
                                        <div class="col-sm-6">
                                            <input class="form-control" id="IdNombre" name="IdNombre" type="text" value="" style="width:200px" required />
                                        </div>

                                    </div>
                                    <div class="form-group">

                                        <label class="col-sm-3 control-label prueba">Documento</label>
                                        <div class="col-sm-6">
                                            <input class="form-control" id="IdDocumento" name="IdDocumento" type="text" value="" style="width:200px" required />
                                        </div>

                                    </div>
                                    <div class="form-group">

                                        <label class="col-sm-3 control-label prueba">Correo</label>
                                        <div class="col-sm-6">
                                            <input class="form-control" id="IdCorreo" name="IdCorreo" type="text" value="" style="width:200px" required />
                                        </div>

                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Web</label>
                                        <div class="col-sm-6">
                                            <input class="form-control" id="Idweb" name="Idweb" type="text" value="" style="width:200px" required />
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Dirección</label>
                                        <div class="col-md-6">

                                            <input class="form-control" id="IdDireccion" name="IdDireccion" type="text" value="" style="width:200px" required />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Teléfono</label>
                                        <div class="col-md-6">

                                            <input class="form-control" id="IdTelefono" name="IdTelefono" type="text" value="" style="width:200px" required />
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Logo Empresa</label>
                                        <div class="col-md-6">

                                            <input class="" id="Logo" name="IdLogo" type="file" value="" onchange="javascript:UploadFile()" style="width:200px" required />


                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button id="addPersonE" type="submit" name="addPersonE" class="btn btn-success">Guardar</button>

                            </div>
                        </div>

                    </div>
                </form>






            </div>

        </div>
    </div>
</div>

@section Scripts {
    <script src="~/Scripts/plugins/toastr/toastr.min.js"></script>
    <link href="~/Content/plugins/toastr/toastr.min.css" rel="stylesheet" />
    <script>

        $("#IdCrearEmpresa").click(function () {

            window.location = '/Home/Contact';
            //$("#ModalEmpresas").modal("show");
        });

        function InsEmpresa() {
            InsertarEmpresas();
        }

         function InsertarEmpresas () {

        var dataObject = JSON.stringify(
            {
                'Nombre': $("#IdNombre").val(),
                'Correo': $("#IdCorreo").val(),
                'Web': $("#Idweb").val(),
                'NumeroDocumento': $("#IdDocumento").val(),
                'Direccion': $("#IdDireccion").val(),
                'Telefono': $("#IdTelefono").val(),
                'Logo': $("#Logo").val()



            });
        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            url: "@Url.Action("InsertarFirst", "Home")",
            data: dataObject,
            dataType: "json",
            success: function (data) {
                if (data != null) {
                    toastr.success("Registro Incluido exitosamente");
                    window.location = '/Home/About';

                } else {
                    windowDialog("ATENCION: La Empresa ya existe!!");
                }
                
            },
            error: function (response) {
                alert("Error Agregar Empresas:" + response.responseText);
            }

        });

    }

        function UploadFile() {


            var file = $("#Logo").get(0).files;
            var data = new FormData();
            data.append("ImageFile", file[0]);



            $.ajax({
                type: "POST",
                //contentType: "application/json; charset=utf-8",
                url: "Upload/Home",
                data: data,
                //dataType: "json",
                enctype: "multipart/form-data",
                contentType: false,
                processData: false,

                success: function (data) {
                    if (data == "OK") {
                        toastr.success("Archivo Cargado");
                    } else {
                        toastr.error("El Formato de imagen no esta permitido");
                    }



                }


            })

        }

        function Incio(id) {


            var file = id;
            var data = new FormData();
            data.append("IdEmpresa", file);



            $.ajax({
                type: "POST",
                //contentType: "application/json; charset=utf-8",
                url: "Inicio/Empresa",
                data: data,
                //dataType: "json",
                enctype: "multipart/form-data",
                contentType: false,
                processData: false,

                


            })

        }

    </script>
}

