﻿
@{
    ViewBag.Title = "Index";
}

<div class="wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2><i class="fa fa-users"></i>UnidadMedida</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("About","Home")"><i class="fa fa-home"></i> Inicio</a>
            </li>
            <li class="active">
                <strong>UnidadMedida</strong>
            </li>
            <li class="pull-right">
                <strong></strong>
            </li>
        </ol>
    </div>

</div>



<div class="Caja">

    <div class="box-body">

        <div class="row">

            <div class="ibox float-e-margins">

                <div class="ibox-title">
                    <strong>UnidadMedida</strong>

                </div>

                <div class="ibox-content" style="overflow-x:auto;">
                    @*<div class="pull-left">
                            <input type="button" class="btn btn-success" value="Buscar" id="BuscarNombre">
                            <input id="NombreBuscar" type="text">
                            <input type="button" class="btn btn-success" value="Limpiar" id="Limpiar">
                        </div>*@
                    <div class="pull-right">

                        <button id="btnNuevo" type="button" class="btn btn-success">+</button>

                    </div>

                    <table id="UnidadMedida" class="table table-bordered table-striped" width="100%">
                        <thead>


                            <tr>
                                <th>Codigo</th>
                                <th>Nombre</th>
                                <th>Abreviatura</th>
                                

                                <th>Editar</th>
                                <th>Eliminar</th>


                            </tr>
                        </thead>


                        <tbody></tbody>

                        <tfoot>

                        </tfoot>

                    </table>



                </div>

            </div>
        </div>
    </div>

</div>

<div id="ModalUnidadMedida" class="modal" role="dialog">
    <form id="frmPrincipal" class="form-horizontal" action="javascript:InsUnidadMedida()">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Ingresar UnidadMedida</h4>
                </div>
                <div class="modal-body">
                    <div class="box-body">
                        <div class="form-group">

                            <label class="col-sm-3 control-label prueba">Codigo</label>
                            <div class="col-sm-6">
                                <input class="form-control" id="IdCodigo" name="IdCodigo" type="text" value="" required />
                            </div>

                        </div>
                        <div class="form-group">

                            <label class="col-sm-3 control-label prueba">Nombre</label>
                            <div class="col-sm-6">
                                <input class="form-control" id="IdNombre" name="IdNombre" type="text" value="" required />
                            </div>

                        </div>
                        <div class="form-group">

                            <label class="col-sm-3 control-label prueba">Abreviatura</label>
                            <div class="col-sm-6">
                                <input class="form-control" id="IdAbreviatura" name="IdAbreviatura" type="text" value="" required />
                            </div>

                        </div>
                      

                        
                      
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="addPersonE" type="submit" name="addPersonE" class="btn btn-success">Guardar</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>

        </div>
    </form>
</div>



<div id="EditUnidadMedida" class="modal" role="dialog">
    <form id="frmPrincipal2" class="form-horizontal" action="javascript:ModificarUnidadMedida()">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Editar UnidadMedida</h4>
                </div>
                <div class="modal-body">
                    <div class="box-body">
                        <div class="form-group">

                            <label class="col-sm-3 control-label prueba">Codigo</label>
                            <div class="col-sm-6">
                                <input class="form-control" id="IdCodigoE" name="IdCodigo" type="text" value="" required />
                            </div>

                        </div>
                        <div class="form-group">

                            <label class="col-sm-3 control-label prueba">Nombre</label>
                            <div class="col-sm-6">
                                <input class="form-control" id="IdNombreE" name="IdNombre" type="text" value="" required />
                            </div>

                        </div>
                        <div class="form-group">

                            <label class="col-sm-3 control-label prueba">Abreviatura</label>
                            <div class="col-sm-6">
                                <input class="form-control" id="IdAbreviaturaE" name="IdAbreviaturaE" type="text" value="" required />
                            </div>

                        </div>




                    </div>
                </div>
                <div class="modal-footer">
                    <button id="addPerson" type="submit" name="addPerson" class="btn btn-success">Guardar</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>

        </div>
    </form>
</div>
<div class="modal" id="confirmModal" style="display: none; z-index: 1050;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body" id="confirmMessage">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="confirmOk">Si</button>
                <button type="button" class="btn btn-default" id="confirmCancel">No</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="windowModal" style="display: none; z-index: 1050;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body" id="windowMessage">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="windowOk">Aceptar</button>
            </div>
        </div>
    </div>
</div>


<form id="form" method="post">
    <input type="hidden" id="IdUnidadMedida" value="" />
    <input type="hidden" id="TelefonoID" value="" />
</form>


@section Styles {
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
}
@section Scripts {
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-
datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-
datepicker/1.4.1/css/bootstrap-datepicker3.css" />

    <link href="~/Content/plugins/datapicker/datepicker3.css" rel="stylesheet" />

    @Scripts.Render("~/plugins/dataTables")
    <script type="text/javascript">
        var activo = true;

            function TableUnidadMedida() {
                var table;
              

                table = $("#UnidadMedida").DataTable();
            table.destroy();

                table = $("#UnidadMedida").DataTable({
                language: {
                    processing: "Procesando..",
                    search: "Buscar:",
                    lengthMenu: "Mostrando _MENU_ registros por página",
                    //info: "Mostrando pàgina _PAGE_ de _PAGES_",
                    infoEmpty: "",
                    //infoFiltered: "(Filtrado de un total de _MAX_ registros)",
                    loadingRecords: "Cargando registros..",
                    zeroRecords: "No existen registros",
                    emptyTable: "No existen registros disponibles",
                    paginate: {
                        first: "Primero",
                        previous: "Anterior",
                        next: "Siguiente",
                        last: "Último"
                    },
                    aria: {
                        sortAscending: ": Ordenar ascendentemente",
                        sortDescending: ": Ordenar descendentemente"
                    }
                    },
                    paging: true,
                    info: false,
                    searching: true,
                ordering: false,
                ajax: {
                     url: "@Url.Action("Get", "UnidadMedida")",
                    type: "GET",
                    data: {},
                    dataSrc: 'data'
                },
                columns: [

                    {
                        data: 'CodigoUnidadMedida',
                          width: "10"
                    },
                    {
                        data: 'NombreUnidadMedida',
                         width: "10"
                    },
                    {
                        data: 'abreviatura',
                        width: "10"
                    },
                   
                    
                    {

                        data: 'IdUnidadMedida',
                        width:"10",
                        searchable: false,
                        orderable: false,
                        render: function (data, type, row, meta) {
                            return '<center><a class="fa fa-fw fa-edit" href="javascript:editUnidadMedida(' + data + ');"> </a></center>'
                        }
                    },



                    {

                        data: 'IdUnidadMedida',
                        width: "10",
                        searchable: false,
                        orderable: false,
                        render: function (data, type, row, meta) {
                            return '<center><a class="fa fa-fw fa-remove" href="javascript:deleteUnidadMedida(' + data + ');"> </a></center>'
                        }
                    },



                ]
            });
    }
    function InsertarUnidadMedida () {

        var dataObject = JSON.stringify(
            {
                'CodigoUnidadMedida': $("#IdCodigo").val(),
                'NombreUnidadMedida': $("#IdNombre").val(),
                'abreviatura': $("#IdAbreviatura").val(),
                
                'Activo': 1


            });
        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            url: "@Url.Action("Insert", "UnidadMedida")",
            data: dataObject,
            dataType: "json",
            success: function (data) {
                if (data == "OK") {
                    toastr.success("Registro Incluido exitosamente");
                    $("#ModalUnidadMedida").modal("hide");

                    clearUnidadMedida();
                    TableUnidadMedida();
                } else if (data == "Codigo") {
                    toastr.error("El codigo ingresado ya  esta asociado a un UnidadMedida!!");
                }
                else if (data == "Nombre") {
                    toastr.error("El Nombre ingresado  ya esta asociado a un UnidadMedida!!");
                }
                else {
                    toastr.error("El Documento ingresado  ya esta asociado a un UnidadMedida!!");
                }



            },
            error: function (response) {
                alert("Error Agregar UnidadMedida:" + response.responseText);
            }

        });

    }
        function editUnidadMedida(id) {
        $.ajax({
            type: "GET",
            contentType: "application/json; charset=utf-8",
            url: "@Url.Action("GetById", "UnidadMedida")",
            data: { id: id },
            dataType: "json",
            success: function (data) {

                $("#IdCodigoE").val(data.CodigoUnidadMedida);
                $("#IdNombreE").val(data.NombreUnidadMedida);
                $("#IdAbreviaturaE").val(data.abreviatura);
                
                $("#IdUnidadMedida").val(id);




                $("#EditUnidadMedida").modal("show");
            },
            error: function (response) {
                alert("Error en carga UnidadMedida" + response.responseText);
            }
        });
    }

      function ModificarUnidadMedida () {

        var dataObject = JSON.stringify(
            {
                'CodigoUnidadMedida': $("#IdCodigoE").val(),
                'NombreUnidadMedida': $("#IdNombreE").val(),
                'abreviatura': $("#IdAbreviaturaE").val(),

                'Activo': 1,
                'IdUnidadMedida': $("#IdUnidadMedida").val()

            });
        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            url: "@Url.Action("Edit", "UnidadMedida")",
            data: dataObject,
            dataType: "json",
            success: function (data) {
                if (data == "OK") {
                    toastr.success("Registro Modificado exitosamente");
                    $("#EditUnidadMedida").modal("hide");
                    TableUnidadMedida();
                } else if (data == "Codigo") {

                    toastr.error("El codigo ingresado ya  esta asociado a un UnidadMedida!!");
                }
                else if (data == "Nombre") {

                    toastr.error("El Nombre ingresado  ya esta asociado a un UnidadMedida!!");
                }
                else {

                    toastr.error("El Documento ingresado  ya esta asociado a un UnidadMedida!!");
                }



            },
            error: function (response) {
                alert("Error Agregar UnidadMedida:" + response.responseText);
            }

        });

    }

     function deleteUnidadMedida(id) {
        confirmDialog("¿Esta seguro de eliminar el registro seleccionado ?", function () {
            $.ajax({
                type: "GET",
                contentType: "application/json; charset=utf-8",
                url: "@Url.Action("Delete", "UnidadMedida")",
                data: { id: id },
                dataType: "json",
                success: function (data) {
                    if (data) {
                        toastr.success("Registro eliminado exitosamente");
                    }else{
                        windowDialog("Ha ocurrido un error al eliminar la información. Por favor verifique e intente nuevamente");
                    }
                    TableUnidadMedida();

                },
                error: function (response) {
                    alert("Error borrar alerta: " + response.responseText);
                }
            });
        });
            }

            $("#btnNuevo").click(function () {
                clearUnidadMedida()
                $("#ModalUnidadMedida").modal("show");
            });

            $("#Limpiar").click(function () {

                $("#NombreBuscar").val("");
                TablePersonas();

            });
            $("#BuscarNombre").click(function () {
                TablePersonas();
            });


            function clearUnidadMedida() {
                $("#IdCodigo").val("");
                $("#IdNombre").val("");
                $("#IdAbreviatura").val("");
               


            }

            function InsUnidadMedida() {
                InsertarUnidadMedida();
            }
            function UpdaPersonas() {
                ModificarPersonas();
            }



    function confirmDialog(message, onConfirm) {
        var fClose = function () {
            modal.modal("hide");
        };
        var modal = $("#confirmModal");
        modal.modal("show");
        $("#confirmMessage").empty().append(message);
        $("#confirmOk").one('click', onConfirm);
        $("#confirmOk").one('click', fClose);
        $("#confirmCancel").one("click", fClose);
    }


        function windowDialog(message, onConfirm) {
            var fClose = function () {
                modal.modal("hide");
            };
            var modal = $("#windowModal");
            modal.modal("show");
            $("#windowMessage").empty().append(message);
            $("#windowOk").one('click', onConfirm);
            $("#windowOk").one('click', fClose);
        }


        $(document).ready(function () {
            TableUnidadMedida();


        });


        $('.datepicker').datepicker({
            format: 'dd/mm/yyyy'

        });
    </script>
}
