﻿@{
    ViewBag.Title = "Index";
}

<div class="wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2><i class="fa fa-users"></i>Usuarios</h2>
        <ol class="breadcrumb">
            <li>
                <a href=""><i class="fa fa-home"></i> Inicio</a>
            </li>
            <li class="active">
                <strong>Usuarios</strong>
            </li>
            <li class="pull-right">
                <strong></strong>
            </li>
        </ol>
    </div>

</div>



<div class="Caja">

    <div class="box-body">

       

            <div class="ibox float-e-margins">

                <div class="ibox-title">
                    <strong>Usuarios</strong>

                </div>

                <div class="ibox-content" style="overflow-x:auto;">
                  
                    <div class="pull-right">

                        <button id="btnNuevo" type="button" class="btn btn-success">+</button>

                    </div>

                    <table id="Usuarios" class="table table-bordered table-striped" width="100%">
                        <thead>


                            <tr>
                                <th>Nombre</th>
                                <th>Apellido</th>
                                <th>Correo</th>
                                <th>Password</th>
                             
                                <th>Editar</th>
                                <th>Eliminar</th>


                            </tr>
                        </thead>


                        <tbody></tbody>

                        <tfoot>

                        </tfoot>

                    </table>



                </div>

            </div>

    </div>

</div>

<div id="ModalUsuarios" class="modal" role="dialog">
    <form id="frmPrincipal" class="form-horizontal" action="javascript:InsUsuarios()">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Ingresar Usuarios</h4>
                </div>
                <div class="modal-body">
                    <div class="box-body">
                        <div class="form-group">

                            <label class="col-sm-3 control-label prueba">Nombre</label>
                            <div class="col-sm-6">
                                <input class="form-control" id="IdNombre" name="IdNombre" type="text" value="" required />
                            </div>

                        </div>
                        <div class="form-group">

                            <label class="col-sm-3 control-label prueba">Apellido</label>
                            <div class="col-sm-6">
                                <input class="form-control" id="IdApellido" name="IdApellido" type="text" value="" required />
                            </div>

                        </div>
                        <div class="form-group">

                            <label class="col-sm-3 control-label prueba">Correo</label>
                            <div class="col-sm-6">
                                <input class="form-control" id="IdCorreo" name="IdCorreo" type="text" value="" required />
                            </div>

                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Password</label>
                            <div class="col-sm-6">
                                <input class="form-control" id="IdPassword" name="IdPassword" type="text" value="" required />
                            </div>
                        </div>
                        <div class="form-group">

                            <label class="col-sm-3 control-label" for="LoadPerfiles">Perfil</label>
                            <div class="col-sm-8">
                                <select id="LoadPerfiles" style="font-size:15px; width:245px" required>
                                    <option value=""></option>
                                </select>


                            </div>

                        </div>


                    </div>
                </div>
                <div class="modal-footer">
                    <button id="addPersonE" type="submit" name="addPersonE" class="btn btn-success">Guardar</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>

        </div>
    </form>
</div>



<div id="EditUsuarios" class="modal" role="dialog">
    <form id="frmPrincipal2" class="form-horizontal" action="javascript:ModificarUsuarios()">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Editar Usuario</h4>
                </div>
                <div class="modal-body">
                    <div class="box-body">
                        <div class="form-group">

                            <label class="col-sm-3 control-label prueba">Nombre</label>
                            <div class="col-sm-6">
                                <input class="form-control" id="IdNombreE" name="IdNombreE" type="text" value="" required />
                            </div>

                        </div>
                        <div class="form-group">

                            <label class="col-sm-3 control-label prueba">Apellido</label>
                            <div class="col-sm-6">
                                <input class="form-control" id="IdApellidoE" name="IdApellidoE" type="text" value="" required />
                            </div>

                        </div>
                        <div class="form-group">

                            <label class="col-sm-3 control-label prueba">Correo</label>
                            <div class="col-sm-6">
                                <input class="form-control" id="IdCorreoE" name="IdCorreoE" type="text" value="" required />
                            </div>

                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Password</label>
                            <div class="col-sm-6">
                                <input class="form-control" id="IdPasswordE" name="IdPasswordE" type="text" value="" required />
                            </div>
                        </div>
                        <div class="form-group">

                            <label class="col-sm-3 control-label" for="LoadProductos">Perfil</label>
                            <div class="col-sm-8">
                                <select id="LoadPerfilesE" style="font-size:15px; width:245px" required>
                                    <option value=""></option>
                                </select>


                            </div>

                        </div>


                    </div>
                </div>
                <div class="modal-footer">
                    <button id="addPerson" type="submit" name="addPerson" class="btn btn-success">Guardar</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>

        </div>
    </form>
</div>
<div class="modal" id="confirmModal" style="display: none; z-index: 1050;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body" id="confirmMessage">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="confirmOk">Si</button>
                <button type="button" class="btn btn-default" id="confirmCancel">No</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="windowModal" style="display: none; z-index: 1050;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body" id="windowMessage">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="windowOk">Aceptar</button>
            </div>
        </div>
    </div>
</div>


<form id="form" method="post">
    <input type="hidden" id="IdUsuario" value="" />
    <input type="hidden" id="TelefonoID" value="" />
</form>


@section Styles {
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
}
@section Scripts {
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-
datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-
datepicker/1.4.1/css/bootstrap-datepicker3.css" />

    <link href="~/Content/plugins/datapicker/datepicker3.css" rel="stylesheet" />

    @Scripts.Render("~/plugins/dataTables")
<script type="text/javascript">
        var activo = true;

            function TableUsuarios() {
                var table;
                var nombre = $("#NombreBuscar").val();

                table = $("#Usuarios").DataTable();
            table.destroy();

                table = $("#Usuarios").DataTable({
                language: {
                    processing: "Procesando..",
                    search: "Buscar:",
                    lengthMenu: "Mostrando _MENU_ registros por página",
                    //info: "Mostrando pàgina _PAGE_ de _PAGES_",
                    infoEmpty: "",
                    //infoFiltered: "(Filtrado de un total de _MAX_ registros)",
                    loadingRecords: "Cargando registros..",
                    zeroRecords: "No existen registros",
                    emptyTable: "No existen registros disponibles",
                    paginate: {
                        first: "Primero",
                        previous: "Anterior",
                        next: "Siguiente",
                        last: "Último"
                    },
                    aria: {
                        sortAscending: ": Ordenar ascendentemente",
                        sortDescending: ": Ordenar descendentemente"
                    }
                },
                paging: true,
                info: false,
                searching: true,
                ordering: false,
                ajax: {
                     url: "@Url.Action("Get", "Usuarios")",
                    type: "GET",
                    data: { nombre: nombre },
                    dataSrc: 'data'
                },
                columns: [

                    {
                        data: 'Nombre',
                          width: "10"
                    },
                    {
                        data: 'Apellido',
                         width: "10"
                    },
                    {
                        data: 'Correo',
                        width: "10"
                    },
                    {
                        data: 'Password',
                        width: "10"
                    },

                    {

                        data: 'IdUsuario',
                        width:"10",
                        searchable: false,
                        orderable: false,
                        render: function (data, type, row, meta) {
                            return '<center><a class="fa fa-fw fa-edit" href="javascript:editUsuarios(' + data + ');"> </a></center>'
                        }
                    },



                    {

                        data: 'IdUsuario',
                        width: "10",
                        searchable: false,
                        orderable: false,
                        render: function (data, type, row, meta) {
                            return '<center><a class="fa fa-fw fa-remove" href="javascript:deleteUsuarios(' + data + ');"> </a></center>'
                        }
                    },



                ]
            });
        }

         function loadPerfiles() {
        $.ajax({
            type: "GET",
            contentType: "application/json; charset=utf-8",
            url: "@Url.Action("GetPerfiles", "Perfiles")",
            dataType: "json",
            success: function (data) {
                if (data.length > 0) {
                    $("#LoadPerfiles").find("option:not(:first)").remove();
                    for (i = 0; i < data.length; i++) {
                        $("#LoadPerfiles").append($('<option>', {
                            value: data[i].IdRol,
                            text: data[i].NombreRol
                        }));
                    }
                    $("#LoadPerfilesE").find("option:not(:first)").remove();
                    for (i = 0; i < data.length; i++) {
                        $("#LoadPerfilesE").append($('<option>', {
                            value: data[i].IdRol,
                            text: data[i].NombreRol
                        }));
                    }

                }
            },
            error: function (response) {
                alert("Error en carga Estados" + response.responseText);
            }
        });
    }
    function InsertarUsuarios () {
       
        var dataObject = JSON.stringify(
            {
                'Nombre': $("#IdNombre").val(),
                'Apellido': $("#IdApellido").val(),
                'Correo': $("#IdCorreo").val(),
                'Password': $("#IdPassword").val(),
                'IdRol': $("#LoadPerfiles").val()


            });
        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            url: "@Url.Action("Insert", "Usuarios")",
            data: dataObject,
            dataType: "json",
            success: function (data) {
                if (data == "OK") {
                    windowDialog("Registro Incluido exitosamente");

                } else {
                    windowDialog("ATENCION: El CODIGO YA EXISTE!!");
                }
                clearUsuarios();
                $("#ModalUsuarios").modal("hide");
                TableUsuarios();

            },
            error: function (response) {
                alert("Error Agregar Usuarios:" + response.responseText);
            }

        });

    }
        function editUsuarios(id) {
        $.ajax({
            type: "GET",
            contentType: "application/json; charset=utf-8",
            url: "@Url.Action("GetById", "Usuarios")",
            data: { id: id },
            dataType: "json",
            success: function (data) {
                loadPerfiles();
                $("#IdNombreE").val(data.Nombre);
                $("#IdApellidoE").val(data.Apellido);
                $("#IdCorreoE").val(data.Correo);
                $("#IdPasswordE").val(data.Password);
                $("#LoadPerfilesE").val(data.UsuarioRol.IdRol);
                $("#LoadPerfilesE").text(data.UsuarioRol.NombreRol);
                $("#IdUsuario").val(id);




                $("#EditUsuarios").modal("show");
            },
            error: function (response) {
                alert("Error en carga Usuarios" + response.responseText);
            }
        });
    }

      function ModificarUsuarios () {

        var dataObject = JSON.stringify(
            {
                'Nombre': $("#IdNombreE").val(),
                'Apellido': $("#IdApellidoE").val(),
                'Correo': $("#IdCorreoE").val(),
                'Password': $("#IdPasswordE").val(),
                'IdUsuario': $("#IdUsuario").val(),
                'IdRol': $("#LoadPerfilesE").val()

            });
        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            url: "@Url.Action("Edit", "Usuarios")",
            data: dataObject,
            dataType: "json",
            success: function (data) {
                if (data == "OK") {
                    toastr.success("Registro Incluido exitosamente");
                } else {
                    windowDialog("Ha ocurrido un error al  ingresar la información. Por favor verifique si la misma se actualizo correctamente");
                }

                $("#EditUsuarios").modal("hide");
                TableUsuarios();

            },
            error: function (response) {
                alert("Error Agregar Usuarios:" + response.responseText);
            }

        });

    }

     function deleteUsuarios(id) {
        confirmDialog("¿Esta seguro de eliminar el registro seleccionado ?", function () {
            $.ajax({
                type: "GET",
                contentType: "application/json; charset=utf-8",
                url: "@Url.Action("Delete", "Usuarios")",
                data: { id: id },
                dataType: "json",
                success: function (data) {
                    if (data) {
                        toastr.success("Registro eliminado exitosamente");
                    }else{
                        windowDialog("Ha ocurrido un error al eliminar la información. Por favor verifique e intente nuevamente");
                    }
                    TableUsuarios();

                },
                error: function (response) {
                    alert("Error borrar alerta: " + response.responseText);
                }
            });
        });
            }

            $("#btnNuevo").click(function () {
                clearUsuarios();
                loadPerfiles();
                $("#ModalUsuarios").modal("show");
            });

            $("#Limpiar").click(function () {

                $("#NombreBuscar").val("");
                TablePersonas();

            });
            $("#BuscarNombre").click(function () {
                TablePersonas();
            });


            function clearUsuarios() {
                $("#IdNombre").val("");
                $("#IdApellido").val("");
                $("#IdCorreo").val("");
                $("#IdPassword").val("");


            }

    function InsUsuarios() {
       
         InsertarUsuarios();
            }
            function UpdaPersonas() {
                ModificarPersonas();
            }



    function confirmDialog(message, onConfirm) {
        var fClose = function () {
            modal.modal("hide");
        };
        var modal = $("#confirmModal");
        modal.modal("show");
        $("#confirmMessage").empty().append(message);
        $("#confirmOk").one('click', onConfirm);
        $("#confirmOk").one('click', fClose);
        $("#confirmCancel").one("click", fClose);
    }


        function windowDialog(message, onConfirm) {
            var fClose = function () {
                modal.modal("hide");
            };
            var modal = $("#windowModal");
            modal.modal("show");
            toastr.success("Registro Eliminado");
            $("#windowOk").one('click', onConfirm);
            $("#windowOk").one('click', fClose);
        }


        $(document).ready(function () {
            TableUsuarios();


        });



</script>
}
