﻿body {
    background: url("../../assets/Login/Fondo.jpg")no-repeat center center;
    background-size: cover;
}

btn-blue {
    background-color: blue;
    color: white;
}

.LoginContent {
    display: flex;
    align-items: center;
    margin-right: 50px;
}

.pad-1 {
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
}

h5 {
    font-family: Verdana;
    font-weight: bold;
}

label {
    font-family: Verdana;
    font-weight: bold;
    font-size: 10px;
    text-align: right;
    float: right
}

input {
    height: 20px;
    font-family: Verdana;
}

a {
    font-family: Verdana;
    font-size: 10px;
}

/*.card {
    background-color: rgba(255, 255, 255, 0.2);
}*/

.md-form label {
    color: gray;
}

h6 {
    line-height: 1.7;
}

html,
body,
header,
.view {
    height: 100vh;
}

@media (max-width: 740px) {
    html,
    body,
    header,
    .view {
        height: 700px;
    }
}

@media (min-width: 800px) and (max-width: 850px) {
    html,
    body,
    header,
    .view {
        height: 650px;
    }
}

.card {
    margin-top: 30px;
    /*margin-bottom: -45px;*/
}

.md-form input[type=text]:focus:not([readonly]),
.md-form input[type=email]:focus:not([readonly]),
.md-form input[type=password]:focus:not([readonly]) {
    border-bottom: 1px solid #b2dfdb;
    box-shadow: 0 1px 0 0 #b2dfdb;
}

    .md-form input[type=text]:focus:not([readonly]) + label,
    .md-form input[type=email]:focus:not([readonly]) + label,
    .md-form input[type=password]:focus:not([readonly]) + label {
        color: #b2dfdb;
    }

.md-form .form-control {
    color: #fff;
}

.pink-gradient {
    background: linear-gradient(40deg, #00695c, #2BBBAD);
}

.ml-2-5 {
    margin-left: 2.5rem !important;
}

.select-dropdown {
    color: #ffffff !important;
}

.gray-text{
    color: lightgray !important;
}