/*Helper Classess*/
.full-height {
	height: 100%
}

.p-t-7 {
	padding-top: 7px;
}

.p-t-5 {
	padding-top: 5px;
}

.p-b-0 {
	padding-bottom: 0px;
}

.p-r-0 {
	padding-right: 0px;
}

.p-l-0 {
	padding-left: 0px;
}

/*Login*/
.login-cover, .login-cover-bg, .login-cover-image {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: background .2s linear;
}

/*Colores*/
.btn-success {
    background-color: #00c0ef!important;
    border-bottom:medium;
}

.text-danger {
    color: #d93c3c!important;
}



/*Datatables*/
table.dataTable thead:first-of-type {
    background-color: rgba(8, 75, 133, 0.24);
}

/*Modals*/
.inmodal .modal-header {
    padding: 20px 15px!important;
}