﻿@model IEnumerable<Models.UsuarioRol>

@{
    ViewBag.Title = "Index";
}


<div class="wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2><i class="fa fa-pagelines"></i>Perfiles</h2>
        <ol class="breadcrumb">
            <li>
                <a href=""><i class="fa fa-home"></i> Inicio</a>
            </li>
            <li class="active">
                <strong>Perfiles</strong>
            </li>
            <li class="pull-right">
                <strong></strong>
            </li>
        </ol>
    </div>

</div>
<div class="Caja">

    <div class="box-body">

        <div class="row">

            <div class="ibox float-e-margins">

                <div class="ibox-title">
                    <strong>Perfiles</strong>

                </div>

                <div class="ibox-content" style="overflow-x:auto;">
                    @*<div class="pull-left">
                            <input type="button" class="btn btn-success" value="Buscar" id="BuscarNombre">
                            <input id="NombreBuscar" type="text">
                            <input type="button" class="btn btn-success" value="Limpiar" id="Limpiar">
                        </div>*@
                    <div class="pull-right">

                        <button id="btnNuevo" type="button" class="btn btn-success">+</button>

                    </div>

                    <table id="Perfiles" class="table table-bordered table-striped" width="100%">
                        <thead>


                            <tr>
                                <th>Perfil</th>

                                <th>Editar</th>
                                <th>Eliminar</th>


                            </tr>
                        </thead>


                        <tbody></tbody>

                        <tfoot>

                        </tfoot>

                    </table>



                </div>

            </div>
        </div>
    </div>

</div>
<div id="ModalPerfiles" class="modal" role="dialog">
    <form id="frmPrincipal" class="form-horizontal" action="javascript:InsPerfiles()">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Ingresar Perfiles</h4>
                </div>
                <div class="modal-body">
                    <div class="box-body">

                        <div class="form-group">

                            <label class="col-sm-3 control-label prueba">Nombre</label>
                            <div class="col-sm-6">
                                <input class="form-control" id="IdNombre" name="IdNombre" type="text" value="" required />
                            </div>

                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button id="addPersonE" type="submit" name="addPersonE" class="btn btn-success">Guardar</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>

        </div>
    </form>
</div>



<div id="EditPerfiles" class="modal" role="dialog">
    <form id="frmPrincipal2" class="form-horizontal" action="javascript:ModificarPerfiles()">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Editar Cliente</h4>
                </div>
                <div class="modal-body">
                    <div class="box-body">

                        <div class="form-group">

                            <label class="col-sm-3 control-label prueba">Nombre</label>
                            <div class="col-sm-6">
                                <input class="form-control" id="IdNombreE" name="IdNombreE" type="text" value="" required />
                            </div>

                        </div>
                        <div class="form-group">

                            <label class="col-sm-3 control-label" for="LoadProductos">Estatus</label>
                            <div class="col-sm-8">
                                <select id="LoadProductos" style="font-size:13px; width:200px">
                                    <option value="1">Activo</option>
                                    <option value="0">Inactivo</option>
                                </select>


                            </div>

                        </div>


                    </div>
                </div>
                <div class="modal-footer">
                    <button id="addPerson" type="submit" name="addPerson" class="btn btn-success">Guardar</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>

        </div>
    </form>
</div>
<div class="modal" id="confirmModal" style="display: none; z-index: 1050;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body" id="confirmMessage">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="confirmOk">Si</button>
                <button type="button" class="btn btn-default" id="confirmCancel">No</button>
            </div>
        </div>
    </div>
</div>

<form id="form" method="post">
    <input type="hidden" id="IdPerfiles" value="" />
  
</form>

@section Styles {
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
}
@section Scripts {
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-
datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-
datepicker/1.4.1/css/bootstrap-datepicker3.css" />

    <link href="~/Content/plugins/datapicker/datepicker3.css" rel="stylesheet" />

    @Scripts.Render("~/plugins/dataTables")
    <script type="text/javascript">


         function TablePerfiles() {
                var table;


                table = $("#Perfiles").DataTable();
            table.destroy();

                table = $("#Perfiles").DataTable({
                language: {
                    processing: "Procesando..",
                    search: "Buscar:",
                    lengthMenu: "Mostrando _MENU_ registros por página",
                    //info: "Mostrando pàgina _PAGE_ de _PAGES_",
                    infoEmpty: "",
                    //infoFiltered: "(Filtrado de un total de _MAX_ registros)",
                    loadingRecords: "Cargando registros..",
                    zeroRecords: "No existen registros",
                    emptyTable: "No existen registros disponibles",
                    paginate: {
                        first: "Primero",
                        previous: "Anterior",
                        next: "Siguiente",
                        last: "Último"
                    },
                    aria: {
                        sortAscending: ": Ordenar ascendentemente",
                        sortDescending: ": Ordenar descendentemente"
                    }
                    },
                    paging: true,
                    info: false,
                    searching: true,
                ordering: false,
                ajax: {
                     url: "@Url.Action("Get", "Perfiles")",
                    type: "GET",
                    data: {  },
                    dataSrc: 'data'
                },
                columns: [

                    {
                        data: 'NombreRol',
                          width: "10"
                    },

                    {

                        data: 'IdRol',
                        width:"10",
                        searchable: false,
                        orderable: false,
                        render: function (data, type, row, meta) {
                            return '<center><a class="fa fa-fw fa-edit" href="javascript:editPerfiles(' + data + ');"> </a></center>'
                        }
                    },



                    {

                        data: 'IdRol',
                        width: "10",
                        searchable: false,
                        orderable: false,
                        render: function (data, type, row, meta) {
                            return '<center><a class="fa fa-fw fa-remove" href="javascript:deletePerfiles(' + data + ');"> </a></center>'
                        }
                    },



                ]
            });
    }

    function InsertarPerfiles () {

        var dataObject = JSON.stringify(
            {
                'NombreRol': $("#IdNombre").val(),
                'Activo': $("#LoadProductos").val()


            });
        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            url: "@Url.Action("Insert", "Perfiles")",
            data: dataObject,
            dataType: "json",
            success: function (data) {
                if (data == "OK") {
                    toastr.success("Registro Incluido exitosamente");

                } else {
                    toastr.error("ATENCION: El CODIGO YA EXISTE!!");
                }
                clearPerfiles();
                $("#ModalPerfiles").modal("hide");
                TablePerfiles();

            },
            error: function (response) {
                alert("Error Agregar Perfiles:" + response.responseText);
            }

        });

    }
        function editPerfiles(id) {
        $.ajax({
            type: "GET",
            contentType: "application/json; charset=utf-8",
            url: "@Url.Action("GetById", "Perfiles")",
            data: { id: id },
            dataType: "json",
            success: function (data) {
                $("#IdNombreE").val(data.NombreRol);
                $("#IdPerfiles").val(data.IdRol);
                
                $("#EditPerfiles").modal("show");
            },
            error: function (response) {
                alert("Error en carga Perfiles" + response.responseText);
            }
        });
    }

      function ModificarPerfiles () {

        var dataObject = JSON.stringify(
            {

                'NombreRol': $("#IdNombreE").val(),
                'Activo': $("#LoadProductos").val(),
                'IdRol': $("#IdPerfiles").val()

            });
        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            url: "@Url.Action("Edit", "Perfiles")",
            data: dataObject,
            dataType: "json",
            success: function (data) {
                if (data == "OK") {
                    toastr.success("Registro Modificado exitosamente");
                } else {
                    toastr.error("Ha ocurrido un error al  ingresar la información. Por favor verifique si la misma se actualizo correctamente");
                }

                $("#EditPerfiles").modal("hide");
                TablePerfiles();

            },
            error: function (response) {
                alert("Error Agregar Perfiles:" + response.responseText);
            }

        });

    }

     function deletePerfiles(id) {
        confirmDialog("¿Esta seguro de eliminar el registro seleccionado ?", function () {
            $.ajax({
                type: "GET",
                contentType: "application/json; charset=utf-8",
                url: "@Url.Action("Delete", "Perfiles")",
                data: { id: id },
                dataType: "json",
                success: function (data) {
                    if (data) {
                        toastr.success("Registro eliminado exitosamente");
                    } else {
                        toastr.error("Ha ocurrido un error al eliminar la información. Por favor verifique e intente nuevamente");
                    }
                    TablePerfiles();

                },
                error: function (response) {
                    alert("Error borrar alerta: " + response.responseText);
                }
            });
        });
            }

            $("#btnNuevo").click(function () {
                clearPerfiles()
                $("#ModalPerfiles").modal("show");
            });

          
            $("#BuscarNombre").click(function () {
                TablePersonas();
            });


            function clearPerfiles() { 
                $("#IdNombre").val("");  
            }

            function InsPerfiles() {
                InsertarPerfiles();
            }
            function UpdaPersonas() {
                ModificarPersonas();
            }


        function confirmDialog(message, onConfirm) {
            var fClose = function () {
                modal.modal("hide");
            };
            var modal = $("#confirmModal");
            modal.modal("show");
            $("#confirmMessage").empty().append(message);
            $("#confirmOk").one('click', onConfirm);
            $("#confirmOk").one('click', fClose);
            $("#confirmCancel").one("click", fClose);
        }
   

        $(document).ready(function () {
            TablePerfiles();


        });


        $('.datepicker').datepicker({
            format: 'dd/mm/yyyy'

        });
    </script>
}
