﻿
@{
    ViewBag.Title = "Index";
}

<div class="wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2><i class="fa fa-users"></i>Proveedores</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("About","Home")"><i class="fa fa-home"></i> Inicio</a>
            </li>
            <li class="active">
                <strong>Proveedores</strong>
            </li>
            <li class="pull-right">
                <strong></strong>
            </li>
        </ol>
    </div>

</div>



<div class="Caja">

    <div class="box-body">

        <div class="row">

            <div class="ibox float-e-margins">

                <div class="ibox-title">
                    <strong>Proveedores</strong>

                </div>

                <div class="ibox-content" style="overflow-x:auto;">
                    @*<div class="pull-left">
                            <input type="button" class="btn btn-success" value="Buscar" id="BuscarNombre">
                            <input id="NombreBuscar" type="text">
                            <input type="button" class="btn btn-success" value="Limpiar" id="Limpiar">
                        </div>*@
                    <div class="pull-right">

                        <button id="btnNuevo" type="button" class="btn btn-success">+</button>

                    </div>

                    <table id="Proveedores" class="table table-bordered table-striped" width="100%">
                        <thead>


                            <tr>
                                <th>Codigo</th>
                                <th>Nombre</th>
                                <th>Email</th>
                                <th>Telefono</th>
                                <th>Numero Documento</th>
                                <th>Web</th>
                                <th>Editar</th>
                                <th>Eliminar</th>


                            </tr>
                        </thead>


                        <tbody></tbody>

                        <tfoot>

                        </tfoot>

                    </table>



                </div>

            </div>
        </div>
    </div>

</div>

<div id="ModalProveedores" class="modal" role="dialog">
    <form id="frmPrincipal" class="form-horizontal" action="javascript:InsProveedores()">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Ingresar Proveedores</h4>
                </div>
                <div class="modal-body">
                    <div class="box-body">
                        <div class="form-group">

                            <label class="col-sm-3 control-label prueba">Codigo</label>
                            <div class="col-sm-6">
                                <input class="form-control" id="IdCodigo" name="IdCodigo" type="text" value="" required />
                            </div>

                        </div>
                        <div class="form-group">

                            <label class="col-sm-3 control-label prueba">Nombre</label>
                            <div class="col-sm-6">
                                <input class="form-control" id="IdNombre" name="IdNombre" type="text" value="" required />
                            </div>

                        </div>
                        <div class="form-group">

                            <label class="col-sm-3 control-label prueba">Email</label>
                            <div class="col-sm-6">
                                <input class="form-control" id="IdEmail" name="IdEmail" type="email" value="" required />
                            </div>

                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Numero Documento</label>
                            <div class="col-sm-6">
                                <input class="form-control" id="IdDocumento" name="IdDocumento" type="text" value="" required />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Direccion</label>
                            <div class="col-md-6">

                                <input class="form-control" id="IdDireccion" name="IdDireccion" type="text" value="" required />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Teléfono</label>
                            <div class="col-md-6">

                                <input class="form-control" id="IdTelefono" name="IdTelefono" type="text" value="" required />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Sitio Web</label>
                            <div class="col-md-6">

                                <input class="form-control" id="IdWeb" name="IdWeb" type="text" value="" required />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="addPersonE" type="submit" name="addPersonE" class="btn btn-success">Guardar</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>

        </div>
    </form>
</div>



<div id="EditProveedores" class="modal" role="dialog">
    <form id="frmPrincipal2" class="form-horizontal" action="javascript:ModificarProveedores()">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Editar Proveedor</h4>
                </div>
                <div class="modal-body">
                    <div class="box-body">
                        <div class="form-group">

                            <label class="col-sm-3 control-label prueba">Codigo</label>
                            <div class="col-sm-6">
                                <input class="form-control" id="IdCodigoE" name="IdCodigoE" type="text" value="" required />
                                <h4 class="modal-title" id="mensaje"></h4>
                            </div>

                        </div>
                        <div class="form-group">

                            <label class="col-sm-3 control-label prueba">Nombre</label>
                            <div class="col-sm-6">
                                <input class="form-control" id="IdNombreE" name="IdNombreE" type="text" value="" required />
                            </div>

                        </div>
                        <div class="form-group">

                            <label class="col-sm-3 control-label prueba">Email</label>
                            <div class="col-sm-6">
                                <input class="form-control" id="IdEmailE" name="IdEmailE" type="email" value="" required />
                            </div>

                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Numero Documento</label>
                            <div class="col-sm-6">
                                <input class="form-control" id="IdDocumentoE" name="IdDocumentoE" type="text" value="" required />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 ">Direccion</label>
                            <div class="col-md-6">

                                <input class="form-control" id="IdDireccionE" name="IdDireccionE" value="" required />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 ">Teléfono</label>
                            <div class="col-md-6">

                                <input class="form-control" id="IdTelefonoE" name="IdTelefonoE" type="text" value="" required />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Sitio Web</label>
                            <div class="col-md-6">

                                <input class="form-control" id="IdWebE" name="IdWebE" type="text" value="" required />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="addPerson" type="submit" name="addPerson" class="btn btn-success">Guardar</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>

        </div>
    </form>
</div>
<div class="modal" id="confirmModal" style="display: none; z-index: 1050;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body" id="confirmMessage">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="confirmOk">Si</button>
                <button type="button" class="btn btn-default" id="confirmCancel">No</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="windowModal" style="display: none; z-index: 1050;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body" id="windowMessage">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="windowOk">Aceptar</button>
            </div>
        </div>
    </div>
</div>


<form id="form" method="post">
    <input type="hidden" id="IdProveedor" value="" />
    <input type="hidden" id="TelefonoID" value="" />
</form>


@section Styles {
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
}
@section Scripts {
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-
datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-
datepicker/1.4.1/css/bootstrap-datepicker3.css" />

    <link href="~/Content/plugins/datapicker/datepicker3.css" rel="stylesheet" />

    @Scripts.Render("~/plugins/dataTables")
    <script type="text/javascript">
        var activo = true;

            function TableProveedores() {
                var table;
                var nombre = $("#NombreBuscar").val();

                table = $("#Proveedores").DataTable();
            table.destroy();

                table = $("#Proveedores").DataTable({
                language: {
                    processing: "Procesando..",
                    search: "Buscar:",
                    lengthMenu: "Mostrando _MENU_ registros por página",
                    //info: "Mostrando pàgina _PAGE_ de _PAGES_",
                    infoEmpty: "",
                    //infoFiltered: "(Filtrado de un total de _MAX_ registros)",
                    loadingRecords: "Cargando registros..",
                    zeroRecords: "No existen registros",
                    emptyTable: "No existen registros disponibles",
                    paginate: {
                        first: "Primero",
                        previous: "Anterior",
                        next: "Siguiente",
                        last: "Último"
                    },
                    aria: {
                        sortAscending: ": Ordenar ascendentemente",
                        sortDescending: ": Ordenar descendentemente"
                    }
                    },
                    paging: true,
                    info: false,
                    searching: true,
                ordering: false,
                ajax: {
                     url: "@Url.Action("Get", "Proveedores")",
                    type: "GET",
                    data: { nombre: nombre },
                    dataSrc: 'data'
                },
                columns: [

                    {
                        data: 'Codigo',
                          width: "10"
                    },
                    {
                        data: 'NombreProveedor',
                         width: "10"
                    },
                    {
                        data: 'Correo',
                        width: "10"
                    },
                    {
                        data: 'Telefono',
                        width: "10"
                    },
                    {
                        data: 'NumeroDocumento',
                        width: "10"
                    },
                    {
                        data: 'WebSite',
                        width: "10"
                    },
                    {

                        data: 'IdProveedor',
                        width:"10",
                        searchable: false,
                        orderable: false,
                        render: function (data, type, row, meta) {
                            return '<center><a class="fa fa-fw fa-edit" href="javascript:editProveedores(' + data + ');"> </a></center>'
                        }
                    },



                    {

                        data: 'IdProveedor',
                        width: "10",
                        searchable: false,
                        orderable: false,
                        render: function (data, type, row, meta) {
                            return '<center><a class="fa fa-fw fa-remove" href="javascript:deleteProveedores(' + data + ');"> </a></center>'
                        }
                    },



                ]
            });
    }
    function InsertarProveedores () {

        var dataObject = JSON.stringify(
            {
                'Codigo': $("#IdCodigo").val(),
                'NombreProveedor': $("#IdNombre").val(),
                'Correo': $("#IdEmail").val(),
                'NumeroDocumento': $("#IdDocumento").val(),
                'Direccion': $("#IdDireccion").val(),
                'Telefono': $("#IdTelefono").val(),
                'Activo': 1,
                'WebSite': $("#IdWeb").val()


            });
        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            url: "@Url.Action("Insert", "Proveedores")",
            data: dataObject,
            dataType: "json",
            success: function (data) {
                if (data == "OK") {
                    toastr.success("Registro Incluido exitosamente");
                    $("#ModalProveedores").modal("hide");

                    clearProveedores();
                    TableProveedores();
                } else if (data == "Codigo") {
                    toastr.error("El codigo ingresado ya  esta asociado a un Proveedor!!");
                }
                else if (data == "Nombre") {
                    toastr.error("El Nombre ingresado  ya esta asociado a un Proveedor!!");
                }
                else {
                    toastr.error("El Documento ingresado  ya esta asociado a un Proveedor!!");
                }



            },
            error: function (response) {
                alert("Error Agregar Proveedores:" + response.responseText);
            }

        });

    }
        function editProveedores(id) {
        $.ajax({
            type: "GET",
            contentType: "application/json; charset=utf-8",
            url: "@Url.Action("GetById", "Proveedores")",
            data: { id: id },
            dataType: "json",
            success: function (data) {

                $("#IdCodigoE").val(data.Codigo);
                $("#IdNombreE").val(data.NombreProveedor);
                $("#IdEmailE").val(data.Correo);
                $("#IdDocumentoE").val(data.NumeroDocumento);
                $("#IdDireccionE").val(data.Direccion);
                $("#IdTelefonoE").val(data.Telefono);
                $("#IdProveedor").val(id);
                $("#IdWeb").val(data.Web); 



                $("#EditProveedores").modal("show");
            },
            error: function (response) {
                alert("Error en carga Proveedores" + response.responseText);
            }
        });
    }

      function ModificarProveedores () {

        var dataObject = JSON.stringify(
            {
                'Codigo': $("#IdCodigoE").val(),
                'NombreProveedor': $("#IdNombreE").val(),
                'Correo': $("#IdEmaiEl").val(),
                'NumeroDocumento': $("#IdDocumentoE").val(),
                'Direccion': $("#IdDireccionE").val(),
                'Telefono': $("#IdTelefonoE").val(),
                'WebSite': $("#IdWebE").val(),
                'IdProveedor': $("#IdProveedor").val()
              

            });
        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            url: "@Url.Action("Edit", "Proveedores")",
            data: dataObject,
            dataType: "json",
            success: function (data) {
                if (data == "OK") {
                    toastr.success("Registro Modificado exitosamente");
                    $("#EditProveedores").modal("hide");
                    TableProveedores();
                } else if (data == "Codigo") {

                    toastr.error("El codigo ingresado ya  esta asociado a un Proveedor!!");
                }
                else if (data == "Nombre") {

                    toastr.error("El Nombre ingresado  ya esta asociado a un Proveedor!!");
                }
                else {

                    toastr.error("El Documento ingresado  ya esta asociado a un Proveedor!!");
                }



            },
            error: function (response) {
                alert("Error Agregar Proveedores:" + response.responseText);
            }

        });

    }

     function deleteProveedores(id) {
        confirmDialog("¿Esta seguro de eliminar el registro seleccionado ?", function () {
            $.ajax({
                type: "GET",
                contentType: "application/json; charset=utf-8",
                url: "@Url.Action("Delete", "Proveedores")",
                data: { id: id },
                dataType: "json",
                success: function (data) {
                    if (data) {
                        toastr.success("Registro eliminado exitosamente");
                    }else{
                        windowDialog("Ha ocurrido un error al eliminar la información. Por favor verifique e intente nuevamente");
                    }
                    TableProveedores();

                },
                error: function (response) {
                    alert("Error borrar alerta: " + response.responseText);
                }
            });
        });
            }

            $("#btnNuevo").click(function () {
                clearProveedores()
                $("#ModalProveedores").modal("show");
            });

          
            

            function clearProveedores() {
                $("#IdCodigo").val("");
                $("#IdNombre").val("");
                $("#IdEmail").val("");
                $("#IdDocumento").val("");
                $("#IdDireccion").val("");
                $("#IdTelefono").val("");
                $("#IdWeb").val("");

            }

            function InsProveedores() {
                InsertarProveedores();
            }
            function UpdaPersonas() {
                ModificarPersonas();
            }



    function confirmDialog(message, onConfirm) {
        var fClose = function () {
            modal.modal("hide");
        };
        var modal = $("#confirmModal");
        modal.modal("show");
        $("#confirmMessage").empty().append(message);
        $("#confirmOk").one('click', onConfirm);
        $("#confirmOk").one('click', fClose);
        $("#confirmCancel").one("click", fClose);
    }


        function windowDialog(message, onConfirm) {
            var fClose = function () {
                modal.modal("hide");
            };
            var modal = $("#windowModal");
            modal.modal("show");
            $("#windowMessage").empty().append(message);
            $("#windowOk").one('click', onConfirm);
            $("#windowOk").one('click', fClose);
        }


        $(document).ready(function () {
            TableProveedores();


        });


        $('.datepicker').datepicker({
            format: 'dd/mm/yyyy'

        });
    </script>
}
