﻿@{
    ViewBag.Title = "Index";
}

<div class="wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2><i class="fa fa-circle"></i>Productos</h2>
        <ol class="breadcrumb">
            <li>
                <a href=""><i class="fa fa-home"></i> Inicio</a>
            </li>
            <li class="active">
                <strong>Productos</strong>
            </li>
            <li class="pull-right">
                <strong></strong>
            </li>
        </ol>
    </div>

</div>



<div class="Caja">

    <div class="box-body">

        <div class="row">

            <div class="ibox float-e-margins">

                <div class="ibox-title">
                    <strong>Productos</strong>

                </div>

                <div class="ibox-content" style="overflow-x:auto;">
                    @*<div class="pull-left">
                        <input type="button" class="btn btn-success" value="Buscar" id="BuscarNombre">
                        <input id="NombreBuscar" type="text">
                        <input type="button" class="btn btn-success" value="Limpiar" id="Limpiar">
                    </div>*@
                    <div class="pull-right">

                        <button id="btnNuevo" type="button" class="btn btn-success">+</button>

                    </div>

                    <table id="Productos" class="table table-bordered table-striped" width="100%">
                        <thead>


                            <tr>
                                <th>Codigo</th>
                                <th>Nombre</th>
                                <th>Stock</th>
                                <th>Editar</th>
                                <th>Eliminar</th>


                            </tr>

                        </thead>


                        <tbody></tbody>

                        <tfoot>

                        </tfoot>

                    </table>



                </div>

            </div>
        </div>
    </div>

</div>

<div id="ModalProductos" class="modal" role="dialog">
    <form id="frmPrincipal" class="form-horizontal" action="javascript:InsProductos()">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Insertar Producto</h4>
                </div>
                <div class="modal-body">
                    <div class="box-body">
                        <div class="form-group">

                            <label class="col-sm-3 control-label prueba">Codigo</label>
                            <div class="col-sm-6">
                                <input class="form-control" id="IdCodigoProducto" name="IdCodigoProducto" type="text" value="" required />
                            </div>

                        </div>
                        <div class="form-group">

                            <label class="col-sm-3 control-label prueba">Nombre</label>
                            <div class="col-sm-6">
                                <input class="form-control" id="IdNombreProducto" name="IdNombreProducto" type="text" value="" required />
                            </div>

                        </div>
                        
                       
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="addPersonE" type="submit" name="addPersonE" class="btn btn-success">Guardar</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>

        </div>
    </form>
</div>



<div id="EditProductos" class="modal" role="dialog">
    <form id="frmPrincipal2" class="form-horizontal" action="javascript:ModificarProductos()">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Editar Productos</h4>
                </div>
                <div class="modal-body">
                    <div class="box-body">
                        <div class="form-group">

                            <label class="col-sm-3 control-label prueba">Codigo</label>
                            <div class="col-sm-6">
                                <input class="form-control" id="IdCodigoE" name="IdCodigoE" type="text" value="" required />
                            </div>

                        </div>
                        <div class="form-group">

                            <label class="col-sm-3 control-label prueba">Nombre</label>
                            <div class="col-sm-6">
                                <input class="form-control" id="IdNombreE" name="IdNombreE" type="text" value="" required />
                            </div>

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="addPerson" type="submit" name="addPerson" class="btn btn-success">Guardar</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>

        </div>
    </form>
</div>
<div class="modal" id="confirmModal" style="display: none; z-index: 1050;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body" id="confirmMessage">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="confirmOk">Si</button>
                <button type="button" class="btn btn-default" id="confirmCancel">No</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="windowModal" style="display: none; z-index: 1050;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body" id="windowMessage">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="windowOk">Aceptar</button>
            </div>
        </div>
    </div>
</div>


<form id="form" method="post">
    <input type="hidden" id="IdProducto" value="" />
    <input type="hidden" id="TelefonoID" value="" />
</form>


@section Styles {
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
}
@section Scripts {
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-
datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-
datepicker/1.4.1/css/bootstrap-datepicker3.css" />

    <link href="~/Content/plugins/datapicker/datepicker3.css" rel="stylesheet" />

    @Scripts.Render("~/plugins/dataTables")
    <script type="text/javascript">
        var activo = true;

            function TableProductos() {
                var table;
                var nombre = $("#NombreBuscar").val();

                table = $("#Productos").DataTable();
            table.destroy();

                table = $("#Productos").DataTable({
                    language: {
                        processing: "Procesando..",
                        search: "Buscar:",
                        lengthMenu: "Mostrando _MENU_ registros por página",
                        //info: "Mostrando pàgina _PAGE_ de _PAGES_",
                        infoEmpty: "",
                        //infoFiltered: "(Filtrado de un total de _MAX_ registros)",
                        loadingRecords: "Cargando registros..",
                        zeroRecords: "No existen registros",
                        emptyTable: "No existen registros disponibles",
                        paginate: {
                            first: "Primero",
                            previous: "Anterior",
                            next: "Siguiente",
                            last: "Último"
                        },
                        aria: {
                            sortAscending: ": Ordenar ascendentemente",
                            sortDescending: ": Ordenar descendentemente"
                        }
                    },
                    paging: true,
                    info: false,
                    searching: true,
                    ordering: false,
                    
                    ajax: {
                        url: "@Url.Action("GetProductos", "Productos")",
                        type: "GET",
                        data: { nombre: nombre },
                        dataSrc: 'data'
                    },
                    columns: [

                        {
                            data: 'CodigoProducto',
                            width: "10"
                        },
                        {
                            data: 'NombreProducto',
                            width: "10"
                        },
                        {
                            data: 'Stock',
                            width: "10"
                        },
                   
                        {

                        data: 'IdProducto',
                        width:"10",
                        searchable: false,
                        orderable: false,
                        render: function (data, type, row, meta) {
                            return '<center><a class="fa fa-fw fa-edit" href="javascript:editProductos(' + data + ');"> </a></center>'
                        }
                    },



                    {

                        data: 'IdProducto',
                        width: "10",
                        searchable: false,
                        orderable: false,
                        render: function (data, type, row, meta) {
                            return '<center><a class="fa fa-fw fa-remove" href="javascript:deleteProductos(' + data + ');"> </a></center>'
                        }
                    },



                ]
            });
    }
    function InsertarProductos () {

        var dataObject = JSON.stringify(
            {
                'CodigoProducto': $("#IdCodigoProducto").val(),
                'NombreProducto': $("#IdNombreProducto").val(),
                
                'Activo': activo


            });
        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            url: "@Url.Action("InsertPro", "Productos")",
            data: dataObject,
            dataType: "json",
            success: function (data) {
                if (data == "OK") {
                    windowDialog("Registro Incluido exitosamente");
                } else {
                    clearProductos();
                    $("#ModalProductos").modal("hide");
                    windowDialogExistencia("ATENCION: El Producto ya Existe!!");
                   

                }
                clearProductos();
                $("#ModalProductos").modal("hide");
                TableProductos();

            },
            error: function (response) {
                alert("Error Agregar Clientes:" + response.responseText);
            }

        });

    }
        function editProductos(id) {
        $.ajax({
            type: "GET",
            contentType: "application/json; charset=utf-8",
            url: "@Url.Action("GetProductosByiD", "Productos")",
            data: { id: id },
            dataType: "json",
            success: function (data) {

                $("#IdCodigoE").val(data.CodigoProducto);
                $("#IdNombreE").val(data.NombreProducto);
                $("#IdProducto").val(data.IdProducto);
                $("#EditProductos").modal("show");
            },
            error: function (response) {
                alert("Error en carga Clientes" + response.responseText);
            }
        });
    }

      function ModificarProductos () {

        var dataObject = JSON.stringify(
            {
                'CodigoProducto': $("#IdCodigoE").val(),
                'NombreProducto': $("#IdNombreE").val(),
                
                'IdProducto': $("#IdProducto").val()

            });
        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            url: "@Url.Action("EditPro", "Productos")",
            data: dataObject,
            dataType: "json",
            success: function (data) {
                if (data == "OK") {
                    windowDialog("Registro Incluido exitosamente");
                } else {
                    windowDialog("Ha ocurrido un error al  ingresar la información. Por favor verifique si la misma se actualizo correctamente");
                }

                $("#EditProductos").modal("hide");
                TableProductos();

            },
            error: function (response) {
                alert("Error Agregar Productos:" + response.responseText);
            }

        });

    }

     function deleteProductos(id) {
        confirmDialog("¿Esta seguro de eliminar el registro seleccionado ?", function () {
            $.ajax({
                type: "GET",
                contentType: "application/json; charset=utf-8",
                url: "@Url.Action("DeletePro", "Productos")",
                data: { id: id },
                dataType: "json",
                success: function (data) {
                    if (data) {
                        windowDialog("Registro eliminado exitosamente");
                    }else{
                        windowDialog("Ha ocurrido un error al eliminar la información. Por favor verifique e intente nuevamente");
                    }
                    TableProductos();

                },
                error: function (response) {
                    alert("Error borrar alerta: " + response.responseText);
                }
            });
        });
            }

            $("#btnNuevo").click(function () {
                clearProductos()
                $("#ModalProductos").modal("show");
            });

            $("#Limpiar").click(function () {

                $("#NombreBuscar").val("");
                TableProductos();

            });
            $("#BuscarNombre").click(function () {
                TableProductos();
            });


            function clearProductos() {
                $("#IdCodigoProducto").val("");
                $("#IdNombreProducto").val("");
                


            }

            function InsProductos() {
                InsertarProductos();
            }
            function UpdaProductos() {
                ModificarProductos();
            }



    function confirmDialog(message, onConfirm) {
        var fClose = function () {
            modal.modal("hide");
        };
        var modal = $("#confirmModal");
        modal.modal("show");
        $("#confirmMessage").empty().append(message);
        $("#confirmOk").one('click', onConfirm);
        $("#confirmOk").one('click', fClose);
        $("#confirmCancel").one("click", fClose);
    }


        function windowDialog(message, onConfirm) {
            var fClose = function () {
                modal.modal("hide");
            };
            var modal = $("#windowModal");
            modal.modal("show");
            $("#windowMessage").empty().append(message);
            $("#windowOk").one('click', onConfirm);
            $("#windowOk").one('click', fClose);
        }

        function windowDialogExistencia(message, onConfirm) {
            var fClose = function () {
                modal.modal("hide");
            };

            var fmodal = function () {
                $("#ModalProductos").modal("show");;
            };
            var modal = $("#windowModal");
            modal.modal("show");
         
            $("#windowMessage").empty().append(message);
            $("#windowOk").one('click', onConfirm);
            $("#windowOk").one('click', fClose);
            $("#windowOk").one('click', fmodal);
            
        }

        


        $(document).ready(function () {
            TableProductos();


        });


        $('.datepicker').datepicker({
            format: 'dd/mm/yyyy'

        });
    </script>
}

