﻿

@{
    ViewBag.Title = "Index";
}

<div class="wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2><i class="fa fa-users"></i>Requerimiento</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("About","Home")"><i class="fa fa-home"></i> Inicio</a>
            </li>
            <li class="active">
                <strong>Requerimiento</strong>
            </li>
            <li class="pull-right">
                <strong></strong>
            </li>
        </ol>
    </div>

</div>



<div class="Caja">

    <div class="box-body">

        <div class="row">

            <div class="ibox float-e-margins">

                <div class="ibox-title">
                    <strong>Requerimiento</strong>

                </div>

                <div class="ibox-content" style="overflow-x:auto;">

                    <div class="pull-right">

                        <button id="btnNuevo" type="button" class="btn btn-success">+</button>

                    </div>

                    <table id="Requerimiento" class="table table-bordered table-striped" width="100%">
                        <thead>


                            <tr>
                                <th>Codigo</th>
                                <th>Proveedor</th>

                                <th>Fecha Requerimiento</th>
                                <th>Fecha Entrega</th>
                                <th>Lugar de Entrega</th>
                                <th>Forma de Pago</th>
                                <th>Moneda</th>
                                <th>Observacion</th>
                                <th>Impuesto</th>
                                <th>Sub Total</th>
                                <th>Total</th>
                                <th>Estado</th>
                                <th>Editar</th>
                                <th>Eliminar</th>


                            </tr>
                        </thead>


                        <tbody></tbody>

                        <tfoot>

                        </tfoot>

                    </table>



                </div>

            </div>
        </div>
    </div>

</div>

<div id="ModalRequerimiento" class="modal" role="dialog" style="overflow-y:auto;">
    <form id="frmPrincipal" class="form-horizontal" style="overflow-x:auto;" action="javascript:InsRequerimiento()">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content modal-lg">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Ingresar Requerimiento</h4>
                </div>
                <div class="modal-body">
                    <div class="box-body">
                        <div class="form-group">

                            <label class="col-sm-3 control-label">Codigo Requerimiento</label>
                            <div class="col-sm-6">
                                <input id="IdCodigo" name="IdCodigo" type="text" style="width:250px;height:30px" required />
                               

                            </div>

                        </div>
                        <div class="form-group">

                            <label class="col-md-3 control-label">Proveedor</label>
                            <div class="col-md-5">
                                <input class="" id="IdNombreProveedor" name="IdNombreProveedor" type="text" style="width:250px;height:30px" required />
                                <input class="" id="IdProveedor" name="IdProveedor" type="text" style="width:250px;height:30px" hidden />
                                <button id="btnBuscarProveedor" type="button" class="btn"><i class="fa fa-search" style="height:10px"></i></button>

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Documento</label>
                            <div class="col-md-6">

                                <input id="IdDocumentoProveedor" name="IdDocumentoProveedor" type="text" value="" style="width:250px;height:30px" required />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Lugar De Entrega</label>
                            <div class="col-md-6">

                                <input id="IdLugar" name="IdLugar" type="text" value="" style="width:250px;height:30px" required />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Fecha Requerimiento</label>
                            <div class="col-md-6">
                                <input class="datepicker" id="IdFechaRequerimiento" name="IdFechaRequerimiento" type="datetime" value="@DateTime.Now.ToString("dd/MM/yyyy")" style="width:250px;" required />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Fecha Entrega</label>
                            <div class="col-md-6">

                                <input class="datepicker" id="IdFechaEntrega" name="IdFechaEntrega" type="datetime" value="" style="width:250px;" required />
                            </div>
                        </div>

                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Observacion</label>
                        <div class="col-md-6">

                            <input id="IdObservacion" name="IdObservacion" type="text" value="" style="width:350px;height:30px" required />
                        </div>
                    </div>

                    <div class="modal-content">
                        <div class="scrollspy-pagos">
                            <div class="ibox-title">
                                <strong>Detalle De Productos</strong>
                                <button id="btnAgregarProducto" type="button" class="btn btn-success pull-right">Agregar Producto</button>
                            </div>




                            <table id="Requerimiento2" class="table table-bordered table-striped" width="100%" >
                                <thead>
                                    <tr>
                                        <th>Codigo</th>
                                        <th>Nombre</th>
                                        <th>Cantidad</th>
                                        <th>Eliminar</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                                <tfoot>
                                </tfoot>
                            </table>
                        </div>



                    </div>

                    <div class="modal-footer">
                        <button id="addPersonReq" type="submit" name="addPersonReq" class="btn btn-success">Guardar</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal" onclick="LimpiarTabla()">Cerrar</button>
                    </div>

                </div>
            </div>

        </div>

    </form>
</div>



<div id="ModalProveedores" class="modal" role="dialog" style="overflow-x:auto; overflow-y:auto">
    
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content modal-lg">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Buscar Proveedores</h4>
                </div>
                <div class="modal-body">
                    <div class="box-body">

                        <div class="modal-content">
                            <div class="scrollspy-pagos" >
                                <div class="ibox-title">
                                    <strong>Detalle De Proveedores</strong>
                                   
                                </div>


                                <table id="Proveedores" class="table table-bordered table-striped" width="100%" >
                                    <thead>
                                        <tr>
                                            <th>Codigo</th>
                                            <th>Nombre</th>
                                            <th>Email</th>
                                            <th>Telefono</th>
                                            <th>Numero Documento</th>
                                            <th>Web</th>
                                            <th>Seleccionar</th>
                                            


                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                    <tfoot>
                                    </tfoot>
                                </table>


                            </div>



                        </div>
                    </div>
                    <div class="modal-footer">
                        
                        <button type="button" class="btn btn-default" data-dismiss="modal" onclick="LimpiarTabla()">Cerrar</button>
                    </div>

                </div>
            </div>

        </div>

    
</div>


<div id="EditRequerimiento" class="modal" role="dialog">
    <form id="frmPrincipalEdit" class="form-horizontal" action="javascript:ModificarRequerimiento()">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Editar Requerimiento</h4>
                </div>
                <div class="modal-body">
                    <div class="box-body">
                        <div class="form-group">

                            <label class="col-sm-3 control-label prueba">Codigo</label>
                            <div class="col-sm-6">
                                <input class="form-control" id="IdCodigoE" name="IdCodigoE" type="text" value="" required />
                                <h4 class="modal-title" id="mensaje"></h4>
                            </div>

                        </div>
                        <div class="form-group">

                            <label class="col-sm-3 control-label prueba">Nombre</label>
                            <div class="col-sm-6">
                                <input class="form-control" id="IdNombreE" name="IdNombreE" type="text" value="" required />
                            </div>

                        </div>
                        <div class="form-group">

                            <label class="col-sm-3 control-label prueba">Email</label>
                            <div class="col-sm-6">
                                <input class="form-control" id="IdEmailE" name="IdEmailE" type="email" value="" required />
                            </div>

                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Numero Documento</label>
                            <div class="col-sm-6">
                                <input class="form-control" id="IdDocumentoE" name="IdDocumentoE" type="text" value="" required />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 ">Direccion</label>
                            <div class="col-md-6">

                                <input class="form-control" id="IdDireccionE" name="IdDireccionE" value="" required />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 ">Teléfono</label>
                            <div class="col-md-6">

                                <input class="form-control" id="IdTelefonoE" name="IdTelefonoE" type="text" value="" required />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="addPersonEdit" type="submit" name="addPersonEdit" class="btn btn-success">Guardar</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>

        </div>
    </form>
</div>



<div id="AgregarProducto" class="modal" role="dialog">
    <form id="frmPrincipal2" class="form-horizontal">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Productos</h4>
                </div>
                <div class="modal-body">
                    <div class="box-body">

                        <table id="Productos" class="table table-bordered table-striped" width="100%">
                            <thead>


                                <tr>
                                    <th>Codigo</th>
                                    <th>Nombre</th>
                                    <th>Existencia</th>
                                    <th></th>



                                </tr>

                            </thead>


                            <tbody></tbody>

                            <tfoot>

                            </tfoot>

                        </table>

                    </div>
                </div>
              
                <div class="modal-footer">
                    <button id="addProducto" type="submit" name="addPerson" class="btn btn-success">Guardar</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>

        </div>
    </form>
</div>

<div class="modal" id="confirmModal" style="display: none; z-index: 1050;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body" id="confirmMessage">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="confirmOk">Si</button>
                <button type="button" class="btn btn-default" id="confirmCancel">No</button>
            </div>
        </div>
    </div>
</div>
<form id="form" method="post">
    <input type="hidden" id="IdRequerimiento" value="" />
    <input type="hidden" id="TelefonoID" value="" />
</form>


@section Styles {
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
}
@section Scripts {
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-
datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-
datepicker/1.4.1/css/bootstrap-datepicker3.css" />

    <link href="~/Content/plugins/datapicker/datepicker3.css" rel="stylesheet" />

    @Scripts.Render("~/plugins/dataTables")
<script type="text/javascript">


           function TableRequerimiento() {
                var table;


                table = $("#Requerimiento").DataTable();
            table.destroy();

                table = $("#Requerimiento").DataTable({
                language: {
                    processing: "Procesando..",
                    search: "Buscar:",
                    lengthMenu: "Mostrando _MENU_ registros por página",
                    //info: "Mostrando pàgina _PAGE_ de _PAGES_",
                    infoEmpty: "",
                    //infoFiltered: "(Filtrado de un total de _MAX_ registros)",
                    loadingRecords: "Cargando registros..",
                    zeroRecords: "No existen registros",
                    emptyTable: "No existen registros disponibles",
                    paginate: {
                        first: "Primero",
                        previous: "Anterior",
                        next: "Siguiente",
                        last: "Último"
                    },
                    aria: {
                        sortAscending: ": Ordenar ascendentemente",
                        sortDescending: ": Ordenar descendentemente"
                    }
                    },
                    paging: true,
                    info: false,
                    searching: true,
                    scrollY: true,
                ordering: false,
                ajax: {
                     url: "@Url.Action("Get", "Requerimiento")",
                    type: "GET",
                    data: {  },
                    dataSrc: 'data'
                },
                columns: [

                    {
                        data: 'CodigoRequerimiento',
                          width: "10"
                    },
                    {
                        data: 'proveedor.NombreProveedor',
                        width: "10"
                    },
                    {
                        data: 'FechaEntrega',
                         width: "10"
                    },
                    {
                        data: 'FechaRequerimiento',
                        width: "10"
                    },
                    {
                        data: 'LugarEntrega',
                        width: "10"
                    },
                    {
                        data: 'FormaPago',
                        width: "10"
                    },
                    {
                        data: 'Moneda.NombreMoneda',
                        width: "10"
                    },
                    {
                        data: 'Observacion',
                        width: "10"
                    },
                    {
                        data: 'Impuesto',
                        width: "10"
                    },
                    {
                        data: 'SubTotal',
                        width: "10"
                    },
                    {
                        data: 'Total',
                        width: "10"
                    },
                    {
                        data: 'Estado',
                        width: "10"
                    },
                    {

                        data: 'IdRequerimiento',
                        width:"10",
                        searchable: false,
                        orderable: false,
                        render: function (data, type, row, meta) {
                            return '<center><a class="fa fa-fw fa-edit" href="javascript:editClientes(' + data + ');"> </a></center>'
                        }
                    },



                    {

                        data: 'IdRequerimiento',
                        width: "10",
                        searchable: false,
                        orderable: false,
                        render: function (data, type, row, meta) {
                            return '<center><a class="fa fa-fw fa-remove" href="javascript:deleteClientes(' + data + ');"> </a></center>'
                        }
                    },



                ]
            });
    }

       function TableProductos() {
                var table;
                var nombre = $("#NombreBuscar").val();

                table = $("#Productos").DataTable();
            table.destroy();

                table = $("#Productos").DataTable({
                    language: {
                        processing: "Procesando..",
                        search: "Buscar:",
                        lengthMenu: "Mostrando _MENU_ registros por página",
                        //info: "Mostrando pàgina _PAGE_ de _PAGES_",
                        infoEmpty: "",
                        //infoFiltered: "(Filtrado de un total de _MAX_ registros)",
                        loadingRecords: "Cargando registros..",
                        zeroRecords: "No existen registros",
                        emptyTable: "No existen registros disponibles",
                        paginate: {
                            first: "Primero",
                            previous: "Anterior",
                            next: "Siguiente",
                            last: "Último"
                        },
                        aria: {
                            sortAscending: ": Ordenar ascendentemente",
                            sortDescending: ": Ordenar descendentemente"
                        }
                    },
                    paging: false,
                    info: false,
                    searching: true,
                    ordering: false,

                    ajax: {
                        url: "@Url.Action("GetProductos", "Productos")",
                        type: "GET",
                        data: { nombre: nombre },
                        dataSrc: 'data'
                    },
                    columns: [

                        {
                            data: 'CodigoProducto',
                            width: "10"
                        },
                        {
                            data: 'NombreProducto',
                            width: "10"
                        },
                        {
                            data: 'Stock',
                            width: "10"
                        },

                        {

                        data: 'IdProducto',
                        width:"10",
                        searchable: false,
                        orderable: false,
                            render: function (data, type, row, meta) {
                                return '<center><a class="fa fa-fw fa-check" href="javascript:SeleccionarProducto(' + data + ', \'' + row.NombreProducto + '\',   \'' + row.CodigoProducto + '\');"> </a></center>'
                        }
                    }







                ]
            });
    }

     function TableRequerimientoProducto(id,NombreProducto,CodigoProducto) {
                var table;


                table = $("#Requerimiento2").DataTable();
                table.destroy();

               table = $("#Requerimiento2").DataTable({
                   language: {
                       processing: "Procesando..",
                       search: "Buscar:",
                       lengthMenu: "Mostrando _MENU_ registros por página",
                       //info: "Mostrando pàgina _PAGE_ de _PAGES_",
                       infoEmpty: "",
                       //infoFiltered: "(Filtrado de un total de _MAX_ registros)",
                       loadingRecords: "Cargando registros..",
                       zeroRecords: "No existen registros",
                       emptyTable: "No existen registros disponibles",
                       paginate: {
                           first: "Primero",
                           previous: "Anterior",
                           next: "Siguiente",
                           last: "Último"
                       },
                       aria: {
                           sortAscending: ": Ordenar ascendentemente",
                           sortDescending: ": Ordenar descendentemente"
                       }
                   },
                   paging: false,
                   info: false,
                   searching: false,
                   ordering: false,


                   ajax: {
                       url: "@Url.Action("GetProductoById", "Requerimiento")",
                       type: "GET",
                       data: { id: id, NombreProducto: NombreProducto, CodigoProducto: CodigoProducto },
                       dataSrc: 'data'
                   },
                        
                    columns: [

                        {
                            data: 'CodigoProducto',
                            width: "10"
                        },
                        {
                            data: 'Producto.NombreProducto',
                            width: "10"
                        },

                        {

                            data: "Cantidad",

                            width: "10",

                            render: function (data, type, row, meta) {
                                return '<center><input type="number" min="1" class="form-control sale_input-cant" value="' + data + '"  id = "CantidadProducto" onchange="javascript: Cambio(' + row.Producto.IdProducto + '); "  style="width: 50px; "></center>'
                            }
                        },
                        {

                        data: 'Producto.IdProducto',
                        width:"10",
                        searchable: false,
                        orderable: false,
                            render: function (data, type, row, meta) {
                                return '<center><a class="fa fa-fw fa-trash" href="javascript:RemoveProducto(' + data + ');"> </a></center>'
                        }
                    }







                ]
            });
    }

    function TableProveedores() {
                var table;


        table = $("#Proveedores").DataTable();
            table.destroy();

        table = $("#Proveedores").DataTable({
                language: {
                    processing: "Procesando..",
                    search: "Buscar:",
                    lengthMenu: "Mostrando _MENU_ registros por página",
                    //info: "Mostrando pàgina _PAGE_ de _PAGES_",
                    infoEmpty: "",
                    //infoFiltered: "(Filtrado de un total de _MAX_ registros)",
                    loadingRecords: "Cargando registros..",
                    zeroRecords: "No existen registros",
                    emptyTable: "No existen registros disponibles",
                    paginate: {
                        first: "Primero",
                        previous: "Anterior",
                        next: "Siguiente",
                        last: "Último"
                    },
                    aria: {
                        sortAscending: ": Ordenar ascendentemente",
                        sortDescending: ": Ordenar descendentemente"
                    }
                    },
                    paging: false,
                    info: false,
                    searching: true,
                ordering: false,
                ajax: {
                     url: "@Url.Action("GetProveedores", "Requerimiento")",
                    type: "GET",
                    data: {},
                    dataSrc: 'data'
                },
                columns: [

                    {
                        data: 'Codigo',
                          width: "10"
                    },
                    {
                        data: 'NombreProveedor',
                         width: "10"
                    },
                    {
                        data: 'Correo',
                        width: "10"
                    },
                    {
                        data: 'Telefono',
                        width: "10"
                    },
                    {
                        data: 'NumeroDocumento',
                        width: "10"
                    },
                    {
                        data: 'WebSite',
                        width: "10"
                    },



                    {

                        data: 'IdProveedor',
                        width: "10",
                        searchable: false,
                        orderable: false,
                        render: function (data, type, row, meta) {
                            return '<center><a class="fa fa-fw fa-check" href="javascript:SeleccionarProveedor(' + data + ');"> </a></center>'
                        }
                    },



                ]
            });
    }

    function SeleccionarProveedores(id) {
        $.ajax({
            type: "GET",
            contentType: "application/json; charset=utf-8",
            url: "@Url.Action("GetById", "Proveedores")",
            data: { id: id },
            dataType: "json",
            success: function (data) {


                $("#IdNombreProveedor").val(data.NombreProveedor);
                $("#IdDocumentoProveedor").val(data.NumeroDocumento);
                $("#IdProveedor").val(id);




                $("#ModalProveedor").modal("hide");
            },
            error: function (response) {
                alert("Error en carga Proveedores" + response.responseText);
            }
        });
    }

    function InsertarRequerimiento () {

        var dataObject = JSON.stringify(
            {
                'CodigoRequerimiento': $("#IdCodigo").val(),
                'RazonSocial': $("#IdNombre").val(),
                'EmailRequerimiento': $("#IdEmail").val(),
                'NumeroDocumento': $("#IdDocumento").val(),
                'Direccion': $("#IdDireccion").val(),
                'Telefono': $("#IdTelefono").val(),
                'Activo': activo


            });
        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            url: "@Url.Action("InsertarRequerimiento", "Requerimiento")",
            data: dataObject,
            dataType: "json",
            success: function (data) {
                if (data == "OK") {
                    toastr.success("Registro Incluido exitosamente");
                    $("#ModalRequerimiento").modal("hide");

                    clearRequerimiento();
                    TableRequerimiento();
                } else if (data == "Codigo") {
                    toastr.error("El codigo ingresado ya  esta asociado a un Requerimiento!!");
                }
                else if (data == "Nombre") {
                    toastr.error("El Nombre ingresado  ya esta asociado a un Requerimiento!!");
                }
                else {
                    toastr.error("El Documento ingresado  ya esta asociado a un Requerimiento!!");
                }



            },
            error: function (response) {
                alert("Error Agregar Requerimiento:" + response.responseText);
            }

        });

    }
        function editRequerimiento(id) {
        $.ajax({
            type: "GET",
            contentType: "application/json; charset=utf-8",
            url: "@Url.Action("GetRequerimientoById", "Requerimiento")",
            data: { id: id },
            dataType: "json",
            success: function (data) {

                $("#IdCodigoE").val(data.CodigoRequerimiento);
                $("#IdNombreE").val(data.RazonSocial);
                $("#IdEmailE").val(data.EmailRequerimiento);
                $("#IdDocumentoE").val(data.NumeroDocumento);
                $("#IdDireccionE").val(data.Direccion);
                $("#IdTelefonoE").val(data.Telefono);
                $("#IdRequerimiento").val(id);




                $("#EditRequerimiento").modal("show");
            },
            error: function (response) {
                alert("Error en carga Requerimiento" + response.responseText);
            }
        });
    }

      function ModificarRequerimiento () {

        var dataObject = JSON.stringify(
            {
                'CodigoRequerimiento': $("#IdCodigoE").val(),
                'RazonSocial': $("#IdNombreE").val(),
                'EmailRequerimiento': $("#IdEmailE").val(),
                'NumeroDocumento': $("#IdDocumentoE").val(),
                'Direccion': $("#IdDireccionE").val(),
                'Telefono': $("#IdTelefonoE").val(),
                'IdRequerimiento': $("#IdRequerimiento").val()

            });
        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            url: "@Url.Action("EditRequerimiento", "Requerimiento")",
            data: dataObject,
            dataType: "json",
            success: function (data) {
                if (data == "OK") {
                    toastr.success("Registro Modificado exitosamente");
                    $("#EditRequerimiento").modal("hide");
                    TableRequerimiento();
                } else if (data == "Codigo") {

                    toastr.error("El codigo ingresado ya  esta asociado a un Requerimiento!!");
                }
                else if (data == "Nombre") {

                    toastr.error("El Nombre ingresado  ya esta asociado a un Requerimiento!!");
                }
                else {

                    toastr.error("El Documento ingresado  ya esta asociado a un Requerimiento!!");
                }



            },
            error: function (response) {
                alert("Error Agregar Requerimiento:" + response.responseText);
            }

        });

    }

     function deleteRequerimiento(id) {
        confirmDialog("¿Esta seguro de eliminar el registro seleccionado ?", function () {
            $.ajax({
                type: "GET",
                contentType: "application/json; charset=utf-8",
                url: "@Url.Action("DeleteRequerimiento", "Requerimiento")",
                data: { id: id },
                dataType: "json",
                success: function (data) {
                    if (data) {
                        toastr.success("Registro eliminado exitosamente");
                    }else{
                        windowDialog("Ha ocurrido un error al eliminar la información. Por favor verifique e intente nuevamente");
                    }
                    TableRequerimiento();

                },
                error: function (response) {
                    alert("Error borrar alerta: " + response.responseText);
                }
            });
        });
            }

            $("#btnNuevo").click(function () {
                clearRequerimiento();

                $("#ModalRequerimiento").modal("show");
            });

    function SeleccionarProducto(id,NombreProducto,CodigoProducto) {
        $.ajax({
            type: "GET",
            contentType: "application/json; charset=utf-8",
            url: "@Url.Action("ValidarProductoDetalle", "Requerimiento")",
            data: { id: id },
            dataType: "json",
            success: function (data) {
                if (data == "Error") {
                    toastr.error("El producto ya se encuentra en el detalle");
                }
                else {
                    TableRequerimientoProducto(id, NombreProducto, CodigoProducto);
                    $("#AgregarProducto").modal("hide");
                }
            },
            error: function (response) {
                alert("Error en carga Proveedores" + response.responseText);
            }
        });
    }
        
    

    function SeleccionarProveedor(id) {

        SeleccionarProveedores(id);
        $("#ModalProveedores").modal("hide");
    }

    $("#btnBuscarProveedor").click(function () {

        TableProveedores();
        $("#ModalProveedores").modal("show");


    });

    $("#btnAgregarProducto").click(function () {
        $("#AgregarProducto").modal("show");
        TableProductos();


    });

    function Cambio(id) {
        var cantidad = $("#CantidadProducto").val();
        $.ajax({
            type: "GET",
            contentType: "application/json; charset=utf-8",
            url: "@Url.Action("ActualizarCantidadProducto", "Requerimiento")",
            data: { id: id, cantidad :cantidad },
            dataType: "json",
            success: function (data) {
                if (data == "ERROR") {
                    toastr.warning("Ingrese una cantidad mayor a cero");
                    $("#CantidadProducto").val(1)
                }
            },

            error: function (response) {
                alert("Error en carga Proveedores" + response.responseText);
            }
        });

  }




    function LimpiarTabla() {
        $.ajax({
            type: "GET",
            contentType: "application/json; charset=utf-8",
            url: "@Url.Action("LimpiarTabla", "Requerimiento")",
            data: {},
            dataType: "json",
            success: function (data) {

            },
            error: function (response) {
                alert("Error en carga Requerimiento" + response.responseText);
            }
        });
    }


            $("#Limpiar").click(function () {

                $("#NombreBuscar").val("");
                TablePersonas();

            });
            $("#BuscarNombre").click(function () {
                TablePersonas();
            });


            function clearRequerimiento() {
                $("#IdCodigo").val("");
                $("#IdNombre").val("");
                $("#IdEmail").val("");
                $("#IdDocumento").val("");
                $("#IdDireccion").val("");
                $("#IdTelefono").val("");
                LimpiarTabla();
                $('#Requerimiento2 > tbody').empty();


            }

            function InsRequerimiento() {
                InsertarRequerimiento();
            }
            function UpdaPersonas() {
                ModificarPersonas();
            }



    function confirmDialog(message, onConfirm) {
        var fClose = function () {
            modal.modal("hide");
        };
        var modal = $("#confirmModal");
        modal.modal("show");
        $("#confirmMessage").empty().append(message);
        $("#confirmOk").one('click', onConfirm);
        $("#confirmOk").one('click', fClose);
        $("#confirmCancel").one("click", fClose);
    }


        function windowDialog(message, onConfirm) {
            var fClose = function () {
                modal.modal("hide");
            };
            var modal = $("#windowModal");
            modal.modal("show");
            $("#windowMessage").empty().append(message);
            $("#windowOk").one('click', onConfirm);
            $("#windowOk").one('click', fClose);
        }


        $(document).ready(function () {
            TableRequerimiento();


        });


        $('.datepicker').datepicker({
            format: 'dd/mm/yyyy'

        });
</script>
}

